<header>
  <div class="container">
    <h2></h2>
    <h1>Contacta con nosotros</h1>
    <div class="separator"></div>
    <h3>Para cualquier consulta</h3>
    <h3>No dudes en ponerte en contacto con nosotros sin ningún tipo de compromiso</h3>
  </div>
</header>


<div class="container">
  <div class="cita">
    <div class="contact">
      <fa-icon [icon]="faPhone"></fa-icon>
      <span>605256942</span>
    </div>
    <div class="contact">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span>hola@logopedasarasanchezortigosa.com</span>
    </div>
    <div class="contact">
      <fa-icon [icon]="faMapLocation"></fa-icon>
      <div class="no-flex">
        <p>Villanueva del Trabuco, Málaga</p>
        <p>Calle Genil 30</p>
      </div>
    </div>
  </div>
</div>

<div class="maps">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3185.317131118494!2d-4.339449299851468!3d37.026084198577905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd726340730e0945%3A0xdf28a06592b6ecb1!2sLOGOPEDA.%20Sara%20S%C3%A1nchez%20Ortigosa!5e0!3m2!1ses!2ses!4v1676305530641!5m2!1ses!2ses"
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="container">
    <h4>HORARIO</h4>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 mt-2">
        <p>Lunes a Viernes (Flexible)</p>
        <p>9:30 — 13:00 / 15:00 — 21:00</p>
      </div>
      <div class="col-12 col-sm-6 mt-2">
        <p>Sábados</p>
        <p>10:30 - 13:30</p>
      </div>
    </div>
  </div>
</div>

<div class="container social">
  <span>REDES SOCIALES</span>
  <h2>Echa un ojo a nuestras redes sociales ;D</h2>
  <p>Pásate por nuestras redes sociales para ver qué está pasando al momento</p>
  <div class="icon-list">
    <a href="https://www.instagram.com/diverxia.terapiaintegral/" target="_blank"><i class="bi bi-instagram"></i></a>
    <a href="https://www.facebook.com/logopedasarasanchezortigosa/" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://api.whatsapp.com/send/?phone=34605256942&text&type=phone_number&app_absent=0" target="_blank"><i
        class="bi bi-whatsapp"></i></a>
  </div>
</div>

<div class="logos">
  <div class="logos-container">
    <div class="container">
      <div class="row justify-content-center">
        <img class="col-6 col-md-4" src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
          alt="Logo Oficial de Colegio de lopeadas de Andalucia">
        <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
          alt="Logo Oficial de la Juanta de Andalucia">
        <img class="col-12 col-md-4"
          src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
          alt="Logo Oficial de la Universidad de Málaga">
      </div>
    </div>
  </div>
</div>