.nav-link {
  color: white;
}

.bi-list {
  font-size: 30px;
}

.nav-link {
  border-radius: 15px;
  padding: 10px;
}

.nav-link:hover {
  animation: sub-animation 1s ease;
}

@keyframes sub-animation {
  100% {
    background-color: rgb(172, 115, 148);
  }
}