header {

  text-align: center;
  background-image: url('../../assets/images/background-about-us.png');
  padding: 4rem;

  fa-icon {
    color: rgb(204, 153, 85);
    font-size: 4rem;
  }

  h2 {
    font-weight: 400;
  }

  h1 {
    font-size: 80px;
    font-family: 'Yellotail';
    font-weight: 400;
  }

}

.about-me {
  margin: 7rem auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h2 {
    margin: 2rem auto;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
    box-shadow: -10px 10px 0px 0px rgba(215, 193, 206, 1);
  }

  div {
    width: 500px;
  }
}

.education {

  margin: 7rem auto;
  color: white;

  .education-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .tittle {
    font-size: 25px;
    font-weight: 700;
    margin: .2rem auto;
    padding: .5rem;
    text-align: center;
    line-height: 1.2;
    background-color: rgb(204, 153, 85);
    border-radius: 1rem;
    width: 100%;
  }

  div {
    margin: auto;
    overflow: hidden;
  }

  img {
    border-radius: 2rem;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 2rem auto;
    box-shadow: -10px 10px 0px 0px rgba(215, 193, 206, 1);
  }

}

.clinic {
  margin: 7rem auto;

  .img {
    display: flex;
    align-items: center;
  }

  img {
    border-radius: 2rem;
    box-shadow: -10px 10px 0px 0px rgba(215, 193, 206, 1);
  }

  h2 {
    text-align: center;
  }

  div {
    margin: 2rem auto;
  }

}

.content-services {
  background-color: rgb(246, 246, 246);

  .content-service {

    background-color: white;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: -10px 10px 15px 0px rgb(209, 203, 209);


    i,
    fa-icon {
      font-size: 4rem;
    }

    h4 {
      font-weight: 400;
      font-size: 20px;
    }

  }

}

.cita {

  margin: 7rem auto;

  h2 {
    font-size: 50px;
  }

  .separator {
    background-color: black;
    height: 2px;
    width: 150px;
    margin: 1rem 0;
  }

  p {
    font-size: 18px;
  }

  .contact {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }

  fa-icon {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(204, 153, 85);
    padding: .5rem .9rem;
    border-radius: .5rem;
    margin: .5rem;
    line-height: 1.8;
  }

  span {
    font-size: 18px;
    font-weight: 700;
  }

}

.logos {

  background-color: rgb(214, 192, 205);

  .logos-container {
    background-color: white;
    border-radius: 0 0 25% 25%;
  }

  img {
    max-width: 300;
    object-fit: scale-down;
  }

}

@media (max-width: 720px) {

  header {

    h1 {
      font-size: 60px;
    }

  }

  .about-me {

    img {
      width: 300px;
      height: 300px;
    }

    div {
      width: fit-content;
    }

  }

}

@media (max-width: 450px) {

  .cita {

    .contact {
      flex-direction: column;
      padding: .8rem;
    }

    span {
      font-size: 17px;
    }

  }

}