<header>
  <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
  <h2>Logopedia en Málaga</h2>
  <h1>Sara Sánchez Ortigosa</h1>
</header>

<main>
  <div class="container about-me">
    <img src=".. /../assets/images/sara-perfil.jpg" alt="Foto de Sara Sanchez Ortigosa con una bata blanca">
    <div>
      <h2>Sobre mí</h2>
      <p>Soy Sara, logopeda especializada en diferentes áreas de la foniatría. Las funciones del logopeda, son amplias
        y
        variadas
        para poder así ofrecer el <strong>mejor servicio</strong> a nuestros pacientes.</p>
      <p>Además, en nuestro equipo integramos capacidades académicas y profesionales para trabajar con un <strong>
          triple objetivo: ayudar
          e informar
        </strong> a las personas de todo lo relacionado con la Logopedia, facilitarles los tratamientos de
        <strong>Logopedia</strong> que
        necesitan y apoyarles para facilitarles su vida cotidiana y conseguir sus metas.
      </p>
      <p>Por último, si el caso en concreto lo necesitase, también <strong>te asesoraremos y daremos
          recomendación</strong> de cuáles son los
        mejores profesionales a consultar para que la terapia completa sea un éxito.</p>
    </div>
  </div>

  <div class="container education">
    <div class="row justify-content-around align-content-center">
      <div class="col-12 col-lg-3 education-column">
        <div class="tittle">Grado en Logopedia</div>
        <div class="tittle">Máster en Atención Temprana</div>
        <div class="tittle">Experto en Terapia Orofacial y Miofuncional</div>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../assets/images/kids-drawing-hotizontal.jpg" alt="Dos niños escribiendo">
      </div>
      <div class="col-12 col-lg-3 education-column">
        <div class="tittle">Técnico Social en Peritaje Forense</div>
        <div class="tittle">Logopedia Estética</div>
        <div class="tittle">Logopedia Neonatal</div>
      </div>
    </div>
  </div>

</main>