<header>
  <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
  <h2>Logopedia en Málaga</h2>
  <h1>Sara Sánchez Ortigosa</h1>
</header>

<main>
  <div class="container about-me">
    <img src=".. /../assets/images/sara-perfil.jpg" alt="Foto de Sara Sanchez Ortigosa con una bata blanca">
    <div>
      <h2>Sobre mí</h2>
      <p>Soy Sara, logopeda especializada en diferentes áreas de la foniatría. Las funciones del logopeda, son amplias
        y
        variadas
        para poder así ofrecer el <strong>mejor servicio</strong> a nuestros pacientes.</p>
      <p>Además, en nuestro equipo integramos capacidades académicas y profesionales para trabajar con un <strong>
          triple objetivo: ayudar
          e informar
        </strong> a las personas de todo lo relacionado con la Logopedia, facilitarles los tratamientos de
        <strong>Logopedia</strong> que
        necesitan y apoyarles para facilitarles su vida cotidiana y conseguir sus metas.
      </p>
      <p>Por último, si el caso en concreto lo necesitase, también <strong>te asesoraremos y daremos
          recomendación</strong> de cuáles son los
        mejores profesionales a consultar para que la terapia completa sea un éxito.</p>
    </div>
  </div>

  <div class="container education">
    <div class="row justify-content-around align-content-center">
      <div class="col-12 col-lg-3 education-column">
        <div class="tittle">Grado en Logopedia</div>
        <div class="tittle">Máster en Atención Temprana</div>
        <div class="tittle">Experto en Terapia Orofacial y Miofuncional</div>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../assets/images/kids-drawing-hotizontal.jpg" alt="Dos niños escribiendo">
      </div>
      <div class="col-12 col-lg-3 education-column">
        <div class="tittle">Técnico Social en Peritaje Forense</div>
        <div class="tittle">Logopedia Estética</div>
        <div class="tittle">Logopedia Neonatal</div>
      </div>
    </div>
  </div>

  <div class="container clinic">
    <div class="row justify-content-center">
      <h2>Sobre la clínica</h2>
      <div class="col-12 col-lg-6 img">
        <img src="../../assets/images/Consulta-2-1024x768.jpeg" alt="Clinica Diverxia">
      </div>
      <div class="col-12 col-lg-6 clinic-text">
        <p>La consulta de Logopedia que se encuentra en Villanueva del Trabuco está inscrita en el registro de centros
          sanitarios
          con el NICA 55197.</p>
        <p>Aquí, con una dilatada experiencia, dirigida al <strong>diagnóstico, tratamiento y rehabilitación de niños,
            adultos y mayores</strong>
          (3ª edad) con trastornos del lenguaje, del habla, de voz, problemas de aprendizaje, de comunicación, así como
          deglución
          y sus derivados. Se ofrece el servicio personalizado e individual que cada paciente necesita a cargo de
          <strong>
            profesionales
            altamente cualificados
          </strong>.
        </p>
        <p><strong>Este centro sanitario posee todo tipo de material necesario de alta calidad</strong> para cada sesión
          concreta, además provee a
          los pacientes de diferentes herramientas para poder llevar a cabo los tratamientos correspondientes.</p>
        <p>Así, en la consulta logopédica encontrarás:</p>
        <ul>
          <li>Material necesario, personalizado y útil para cada tratamiento</li>
          <li>Técnicas y modelos de intervención actualizados y ajustados a las necesidades individuales</li>
          <li>Herramientas sanitarias cualificadas y certificadas</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content-services">
    <div class="container">
      <div class="row justify-content-around align-items-stretch">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="content-service">
            <fa-icon [icon]="faUserDoctor"></fa-icon>
            <h4>SOBRE LA PROFESIÓN</h4>
            <h3>¿Qué es la Logopedia?</h3>
            <p>La logopedia es el área sanitaria profesional que se dedica al tratamiento y corrección de los trastornos
              que
              afectan a
              la voz, a la pronunciación y al lenguaje oral y escrito, mediante técnicas de reeducación y/o aprendizaje.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="content-service">
            <fa-icon [icon]="faArrowsToCircle"></fa-icon>
            <h4>SOBRE EL ÁREA DE TRABAJO</h4>
            <h3>Logopedia en Málaga</h3>
            <p>Sara trabaja en la provincia de Málaga y alrededores de la ciudad. No obstante; puede ofrecer servicios
              online dirigidos a aquellas personas que no se encuentren en esta localización o les cuadre mejor por
              otros motivos como el trabajo.</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="content-service">
            <fa-icon [icon]="faA"></fa-icon>
            <h4>LOGOPEDA ESTUDIOS</h4>
            <h3>Estudiar Logopedia</h3>
            <p>La formación no se queda en el grado universitario. Esta profesional ha continuado su carrera como
              logopeda
              mediante
              másters, cursos, webinars, encuentros de profesionales del sector y muchas más experiencias.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container cita">
    <h2>Pide cita</h2>
    <div class="separator"></div>
    <p>Bueno, ahora que me conoces no dudes en ponerte en contacto conmigo sin ningún tipo de comprosimo.</p>
    <div class="contact">
      <fa-icon [icon]="faPhone"></fa-icon>
      <span>605256942</span>

    </div>
    <div class="contact">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span>hola@logopedasarasanchezortigosa.com</span>
    </div>
    <div class="contact">
      <fa-icon [icon]="faMapLocation"></fa-icon>
      <span>Villanueva del Trabuco, Málaga</span>
    </div>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>

</main>