<header>
  <div class="container">
    <h2>PEDAGOGÍA EN MÁLAGA Y ONLINE</h2>
    <h1>Servicios de Pedagogía</h1>
    <div class="separator"></div>
    <h3>Tratamientos de Pedagogía en Málaga, Granada y alrededores.</h3>
    <h3>La pedagogía es la Ciencia que estudia las metodologías y técnicas que se aplican a la enseñanza y la educación.
    </h3>
  </div>
</header>

<main>
  <div class="container info">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faSeedling"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Pedagogía Terapéutica</h4>
            <p>Tiene como gran objetivo buscar y brindar herramientas en materia de trastornos
              o dificultades
              en el aprendizaje.

              ¿Qué tipo de dificultades? Aquellas que impiden, en la mayoría de los casos, funcionar de forma
              “ordinaria”, y por
              tanto, se convierten en un problema para quienes las sufren, impidiendo su desarrollo e impidiendo que se
              desenvuelvan en
              el mundo con fluidez.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faUserPlus"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Adaptación Curricular</h4>
            <p>Es un proceso que consiste en modificar los contenidos, las metodologías y las
              evaluaciones de
              un currículo escolar para adecuarlos a las necesidades específicas de un alumno o un grupo de alumnos con
              características particulares. El objetivo de la adaptación curricular es facilitar el acceso, la
              participación y el
              progreso de todos los estudiantes en el aprendizaje, respetando su diversidad y potenciando su desarrollo
              integral.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Deficultades de Aprendizaje</h4>
            <p>Son problemas que afectan a la capacidad de aprender en diferentes áreas.
              Pueden tener
              causas neurológicas o ambientales y se detectan por medio de pruebas específicas. Las personas con
              dificultades de
              aprendizaje necesitan una atención educativa adecuada a sus características .</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faPersonBreastfeeding"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Pedagogía Perinatal para madres en situación de vulnerabilidad</h4>
            <p>Es una disciplina emergente en el campo de las Ciencias de la Educación.
              Su objetivo consiste en investigar todo lo relacionado con la formación, la educación y la enseñanza
              vinculadas a la etapa prenatal.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-services">
    <div class="container">
      <div class="row justify-content-around align-items-stretch">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="content-service">
            <fa-icon [icon]="faUserDoctor"></fa-icon>
            <h4>SOBRE LA PROFESIÓN</h4>
            <h3>¿Qué es la Pedagogía?</h3>
            <p>Si tienes hij@s, esto desde luego te interesa, ya que la Pedagogía es la ciencia que estudia y analiza
              las
              metodologías
              educativas que a posteriori se implementan en las escuelas y colegios. Y sí, sabemos que queda mucho por
              hacer, pero al
              menos contamos con un puñado de buenos profesionales que dan lo mejor de sí mismos.</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="content-service">
            <fa-icon [icon]="faArrowsToCircle"></fa-icon>
            <h4>SOBRE EL ÁREA DE TRABAJO</h4>
            <h3>Pedagogía en Málaga</h3>
            <p>Diverxia trabaja en la provincia de Málaga y alrededores de la ciudad. No obstante; puede ofrecer
              servicios
              online dirigidos a aquellas personas que no se encuentren en esta localización o les cuadre mejor por
              otros motivos como el trabajo.</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="content-service">
            <fa-icon [icon]="faBolt"></fa-icon>
            <h4>SOBRE LA CLÍNICA</h4>
            <h3>Servicios de Pedagogía</h3>
            <p>En nuestra clínica, creemos que cada paciente es único y, por lo tanto, cada tratamiento debe ser
              personalizado para
              satisfacer sus necesidades individuales. Trabajamos estrechamente con cada paciente para proporcionar un
              plan de
              tratamiento adaptado a su situación, asegurándonos de que recibas atención individualizada y de alta
              calidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container treatments">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 img">
        <img src="../../assets/images/pedagogia.jpg" alt="Clinica Diverxia">
      </div>
      <div class="col-12 col-lg-6 clinic-text">
        <h3>¿Razones para pedir cita?</h3>
        <p>Si estás buscando mejorar tu aprendizaje o el de tu hijo/a, la clínica Diverxia puede ser una excelente
          opción.</p>
        <p>
          Ofrecemos una variedad de servicios diseñados para ayudar a los estudiantes a superar dificultades en áreas
          específicas, como la lectura, la escritura, la ortografía, las matemáticas y mucho más. Además, los
          profesionales de la
          pedagogía pueden identificar problemas de aprendizaje subyacentes que pueden estar afectando el desempeño de
          un
          estudiante y proporcionar estrategias efectivas para superarlos.
        </p>
        <p>En una clínica de pedagogía, el enfoque está
          en el estudiante y en sus necesidades individuales, lo que significa que se puede esperar una atención
          personalizada y
          adaptada a cada situación. Si estás buscando mejorar tus habilidades académicas o las de tu hijo/a, te
          recomiendo
          encarecidamente que nos contactes para obtener la ayuda que necesitas.</p>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="container asked-question">
      <h3>PREGUNTAS FRECUENTES</h3>
      <span>Preguntas frecuentes de los usuarios</span>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿QUÉ ES LA PEDAGOGÍA Y POR QUÉ ES IMPORTANTE PARA EL DESARROLLO DE LOS NIÑOS?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La pedagogía es la disciplina que se encarga del estudio y la enseñanza de la educación de los niños. Es
                importante
                porque un buen desarrollo en esta área puede marcar una gran diferencia en la vida futura de los niños,
                ya que puede
                afectar su capacidad para aprender, su autoestima, sus habilidades sociales y emocionales, y su
                capacidad para enfrentar
                y resolver problemas.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿QUÉ SERVICIOS OFRECE SU CLÍNICA DE PEDAGOGÍA?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                En nuestra clínica de pedagogía ofrecemos una amplia gama de servicios, incluyendo evaluación y
                diagnóstico de problemas
                de aprendizaje, orientación y asesoramiento para padres y cuidadores, terapia y tratamiento para niños
                con dificultades
                de aprendizaje y/o comportamiento, y programas de intervención temprana para niños pequeños.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿POR QUÉ DEBERÍA LLEVAR A MI HIJO A SU CLÍNICA DE PEDAGOGÍA?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Acudir a la clínica de pedagogía tiene muchos beneficios para el bienestar y el crecimiento personal.
                Algunos de ellos
                son:
              </p>
              <ul>
                <li>Mejorar el rendimiento académico y el autoconcepto</li>
                <li>Superar los obstáculos que impiden el aprendizaje</li>
                <li>Potenciar las habilidades y capacidades personales</li>
                <li>Fomentar la autonomía y la responsabilidad</li>
                <li>Prevenir el fracaso escolar y el abandono educativo</li>
                <li>Favorecer la adaptación social y emocional</li>
                <li>Orientar sobre las opciones formativas y laborales más adecuadas</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿QUÉ PROFESIONALES TRABAJAN EN LA CLÍNICA DE PEDAGOGÍA?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                En la clínica de pedagogía contamos con un equipo multidisciplinar de profesionales cualificados y con
                experiencia en el
                ámbito educativo. Entre ellos se encuentran pedagogos, fisioterapeutas, psicólogos, logopedas, etc.
                Todos ellos
                trabajan de forma coordinada y personalizada para ofrecer el mejor servicio a cada cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>

</main>