<header>
  <div class="container">
    <h1>Tarifas y Servicios</h1>
    <div class="separator"></div>
    <h2>Servicios de Logopedia, Pedagogía, Neuropsicología Pediátrica, Terapia Ocupacional, Fisioterapia y Psicología
    </h2>
  </div>
</header>

<main>
  <div class="container">

    <div class="row justify-content-evenly">
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card">
          <div class="card-header">
            CONSULTA
          </div>
          <div class="card-body">
            <div class="prices">
              <span class="card-text left">1 sesión semanal</span>
              <span class="card-text right">25€/sesión</span>
            </div>
            <div class="prices">
              <span class="card-text left">2 sesiones semanales</span>
              <span class="card-text right">20€/sesión</span>
            </div>
            <div class="prices">
              <span class="card-text left">3 sesiones semanales</span>
              <span class="card-text right">18€/sesión</span>
            </div>
            <div class="prices">
              <span class="card-text left">Sesión Psicología</span>
              <span class="card-text right">40€/sesión</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card">
          <div class="card-header">
            ONLINE
          </div>
          <div class="card-body">
            <div class="prices">
              <span class="card-text left">Logopedia-Pedagogía</span>
              <span class="card-text right">25€/sesión</span>
            </div>
            <div class="prices">
              <span class="card-text left">Psicología</span>
              <span class="card-text right">40€/sesión</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card">
          <div class="card-header">
            DOMICILIO
          </div>
          <div class="card-body">
            <div class="prices">
              <span class="card-text left">Málaga capital, Casabermeja y localidades cercanas a VVa del Trabuco</span>
              <span class="card-text right">+5€ sobre precios aplicables en las sesiones en consulta</span>
            </div>
            <div class="prices">
              <span class="card-text right">+10€ si el domicilio se encuentra en el distrito de Campanillas o
                Churriana</span>
            </div>
          </div>
          <div class="card-footer">
            Para localidades como Alhaurín de la Torre y Rincón de la Victoria, consultar las tarifas.
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-5 mt-5">
        <div class="card">
          <div class="card-header">
            ASOCIACIONES
          </div>
          <div class="card-body">
            <div class="prices">
              <span class="card-text left">Sauce Capicita</span>
              <span class="card-text right">- 20% DTO/sesión</span>
            </div>
            <div class="prices">
              <span class="card-text left">ASAFILAP</span>
              <span class="card-text right">- 10% DTO/sesión</span>
            </div>
            <div class="prices">
              <span class="card-text left">AUTISMAP</span>
              <span class="card-text right">- 10% DTO/sesión</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-5 mt-5">
        <div class="card">
          <div class="card-header">
            EVALUACIÓN
          </div>
          <div class="card-body">
            <div class="prices">
              <span class="card-text left">Sesión evaluación</span>
              <span class="card-text right">45€</span>
            </div>
            <div class="prices">
              <span class="card-text left">Informe evaluación</span>
              <span class="card-text right">150€</span>
            </div>
            <div class="prices">
              <span class="card-text left">Estudio Neuropsicológico + Informe</span>
              <span class="card-text right">100€</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn" [routerLink]="['/contacto']">Contacto</button>
  </div>

  <div class="container">
    <div class="container asked-question">
      <h3>PREGUNTAS FRECUENTES</h3>
      <span>Preguntas frecuentes de los usuarios</span>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿CUÁL ES EL PRECIO MEDIO DE UNA SESIÓN DE LOGOPEDIA?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Esta es una pregunta difícil de responder, la logopedia como cualquier otra profesión depende de muchos
                factores como la
                experiencia, titulaciones, lugar en el que e imparta (no tienen los mismos honorarios en Madrid o
                Barcelona que en
                Andalucía o Zaragoza por ejemplo).
              </p>

              <p>No obstante; se podría afirmar que <strong>
                  el precio de una sesión de logopedia suele rondar los 30 euros por 45 minutos en
                  España
                </strong>. Nosotros ofrecemos la sesión más barata porque entendemos que la sanidad es un servicio
                básico hemos de
                facilitar el acceso a todo tipo de personas.</p>

              <p>
                El precio de un/a logopeda a domicilio normalmente se encuentra en unos 50 euros, dependiendo de muchas
                variables a su
                vez (como puede ser la distancia o los horarios).
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿SON TODOS ESOS LOS PRECIOS QUE SE OFRECÉIS O HAY MÁS?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Lo que se muestra en esta página son los importes de las tarifas más comunes. <strong>
                  Ofrecemos muchos más servicios así como
                  Logoestética, valoraciones, sesiones grupales, etc.
                </strong> También existe la posibilidad de actuar en sesiones de 30 minutos
                con un precio menor a las comunes de 45 minutos.
              </p>
              <p>
                Para no hacer demasiado tediosa esta página no hemos recalcado todos y cada uno de los costos de cada
                tipo de prestación
                pero, aseguramos <strong>que todos ellos se encuntran con un precio por debajo a la media</strong> y con
                una calidad más que notoria.
                Desde aquí te animamos a contactar con nosotros mediante llamada, email o como más te guste y te
                informes sin ningún
                tipo de compromiso.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿ES EL PRECIO DE LOGOPEDA A DOMICILIO DISTINTO?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Sí, el costo es diferente ya que en consulta u online no hay necesidad de desplazarse por cuenta de la
                profesional.
                Puedes revisar arriba las distintas sumas (individualmente o en packs) tanto para domicilio como las
                demás modalidades.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿CÓMO SÉ QUÉ TARIFA ES LA MEJOR PARA MÍ?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Es una pregunta muy común entre nuestros pacientes. <strong>
                  Generalmente en la primera consulta, que recordamos
                  es TOTALMENTE
                  GRATUITA, despejamos esa duda
                </strong>. Aquí no podemos confirmarte nada porque eso <strong>
                  depende siempre del tipo de
                  patología
                  concreta del paciente
                </strong>, algunas necesitan semanas de terapia y otras pueden ser tratadas con mayor
                celeridad.
              </p>
              <p>Aún así, nos gustaría recordar que la decisión de usar bonos; el servicio en consulta, domicilio u
                online; las sesiones
                por semana y todo lo demás lo decidís vosotros y vosotras mismas. <strong>
                  Aquí os damos la recomendación de lo
                  mejor para el
                  tratamiento pero la última palabra siempre la tienes tú
                </strong> para hacer el tratamiento lo más cómodo posible
                ¡Siempre que la
                agenda lo permita, haremos todo lo posible para adaptarte la terapia a tu calendario y horarios!</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿TIENES ALGUNA DUDA MÁS?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Ya has visto las preguntas más comunes de nuestros pacientes pero es posible que aún te queden
                cuestiones en el tintero.
                Si es así te animamos a contactar sin ningún compromiso y te ayudaremos.
              </p>
              <p>Asimismo, si observamos que tu pregunta también se da en otros clientes, la incluiremos aquí para
                ayudar a las personas
                que vengan después!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>

</main>