<header>
  <div class="container">
    <h2>FISIOTERAPIA EN MÁLAGA Y ONLINE</h2>
    <h1>Servicios de Fisioterapia</h1>
    <div class="separator"></div>
    <h3>Tratamientos de Fisioterapia en Málaga, Granada y alrededores.</h3>
    <h3>La fisioterapia es una disciplina de la salud que utiliza técnicas y ejercicios terapéuticos para prevenir,
      tratar y
      rehabilitar lesiones y trastornos del movimiento y la función del cuerpo.
    </h3>
  </div>
</header>

<main>
  <div class="container treatments">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 img">
        <img src="../../assets/images/pexels-yan-krukau-5794048.jpg" alt="Clinica Diverxia">
      </div>
      <div class="col-12 col-lg-6 clinic-text">
        <p>
          La fisioterapia se enfoca en prevenir, tratar y rehabilitar lesiones, enfermedades y
          disfunciones del movimiento y la función física del cuerpo humano.
        </p>

        <p>
          Los fisioterapeutas utilizan técnicas y herramientas especializadas para evaluar y tratar una amplia variedad
          de
          condiciones, incluyendo lesiones deportivas, dolores de espalda y cuello, problemas de movilidad,
          discapacidades,
          trastornos neurológicos, entre otros.
        </p>

        <p>La fisioterapia puede incluir ejercicios terapéuticos, técnicas de masaje, estiramientos, terapia manual,
          electroterapia, hidroterapia y otros enfoques basados en la evidencia para ayudar a restaurar la movilidad, la
          fuerza y
          la función física del paciente.</p>

        <p>
          En resumen, la fisioterapia es una herramienta fundamental para mejorar la calidad de vida de las personas que
          padecen
          problemas físicos, y puede ser clave para su recuperación y rehabilitación.
        </p>
      </div>
    </div>
  </div>

  <div class="container info">
    <h3>Servicios de la clínica</h3>
    <div class="separator"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faHandsPraying"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Técnicas Manuales e Invasivas</h4>
            <p>Las <strong>técnicas manuales</strong> son aquellas que se realizan con las manos del fisioterapeuta
              sobre el tejido lesionado o
              disfuncional, sin utilizar ningún instrumento o aguja. Estas técnicas pueden incluir manipulaciones
              articulares,
              masajes, estiramientos, movilizaciones y otras formas de estimular la recuperación del paciente.</p>
            <p>Las <strong>técnicas invasivas</strong> son aquellas que utilizan una aguja para introducir agentes
              físicos o químicos en el tejido
              afectado, con el fin de provocar una reacción biológica que favorezca la regeneración del mismo.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faChildren"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Fisioterapia Pediátrica</h4>
            <p>La fisioterapia pediátrica es una especialidad de la fisioterapia que se ocupa de la salud y el
              desarrollo de los niños
              y adolescentes que tienen problemas motores o riesgo de padecerlos. Los fisioterapeutas pediátricos
              utilizan
              diferentes técnicas y recursos para mejorar la movilidad, la fuerza, la respiración, la postura y el
              aprendizaje de los
              pacientes. El juego y la estimulación son elementos fundamentales en la intervención fisioterapéutica
              pediátrica.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faLungs"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Fisioterapia Respiratoria</h4>
            <p>La fisioterapia respiratoria es una rama de la fisioterapia que se ocupa de prevenir, tratar y
              estabilizar las
              alteraciones del sistema respiratorio. Su objetivo es mejorar la ventilación pulmonar, el intercambio de
              gases, la
              función muscular respiratoria, la disnea (dificultad para respirar) y la calidad de vida de las personas
              con problemas
              respiratorios. La fisioterapia respiratoria se basa en el uso de técnicas físicas como ejercicios
              respiratorios,
              drenaje bronquial, percusión torácica, aspiración de secreciones y educación sanitaria.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faPersonHalfDress"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Suelo Pélvico</h4>
            <p>La fisioterapia del suelo pélvico se ocupa de valorar, tratar, mejorar y prevenir las alteraciones que
              puedan afectar a la zona del suelo pélvico, que
              es el conjunto de estructuras (músculos, ligamentos, fascias…) que sostienen los órganos pélvicos y
              participan en
              funciones como la micción, la defecación y la sexualidad. La fisioterapia pélvica puede ayudar a personas
              con problemas
              como incontinencia urinaria, prolapsos, disfunciones sexuales, dolor pélvico crónico, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container asked-question">
      <h3>PREGUNTAS FRECUENTES</h3>
      <span>Preguntas frecuentes de los usuarios</span>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿QUÉ ES LA FISIOTERAPIA Y CÓMO PUEDE AYUDARME?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La fisioterapia es una disciplina de la salud que se centra en el tratamiento de lesiones y trastornos
                del movimiento.
                Un fisioterapeuta puede ayudarte a recuperarte de lesiones, dolores de espalda, dolor de cuello,
                lesiones deportivas, y
                otros trastornos del movimiento. Los fisioterapeutas utilizan una variedad de técnicas y ejercicios para
                ayudarte a
                recuperar la función y mejorar tu calidad de vida.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿QUÉ BENEFICIOS TIENE LA FISIOTERAPIA?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La fisioterapia puede ayudar a aliviar el dolor, mejorar la movilidad, recuperar la fuerza muscular,
                prevenir o
                corregir
                las deformidades posturales, favorecer la cicatrización de las heridas, estimular el sistema
                circulatorio y
                linfático,
                potenciar el sistema inmunológico y respiratorio, reducir el estrés y mejorar la calidad de vida.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿CÓMO PUEDO SABER SI NECESITO FISIOTERAPIA?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Si tienes dolores o molestias en cualquier parte de tu cuerpo que te impiden realizar tus actividades
                diarias, puedes
                beneficiarte de la fisioterapia. También puedes necesitar fisioterapia si has sufrido una lesión o si
                tienes una
                condición médica que afecta tu movimiento. Un fisioterapeuta puede evaluar tu condición y recomendar el
                mejor
                tratamiento para ti.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿POR QUÉ DEBERÍA ELEGIR SU CLÍNICA DE FISIOTERAPIA?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                En nuestra clínica, nos enorgullece ofrecer atención personalizada y centrada en el paciente. Nuestros
                fisioterapeutas
                altamente capacitados y experimentados se dedican a ayudarte a lograr tus objetivos de recuperación y
                mejorar tu calidad
                de vida. Además, utilizamos las últimas técnicas y tecnologías en el tratamiento de lesiones y
                trastornos del
                movimiento.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container contact">
    <span>CUÉNTANOS CUALQUIER DUDA QUE TENGAS</span>
    <h3>Contacta con nosotros</h3>
    <div class="separator"></div>
    <p>Esperamos haber respondido algunas de tus preguntas sobre la clínica de fisioterapia. Si estás considerando la
      terapia, te
      animamos a que nos contactes para obtener más información sobre nuestros servicios y cómo podemos ayudarte a
      mejorar tu
      bienestar emocional y mental.</p>
    <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>


</main>