<div class="cookie-banner d-flex flex-column align-items-center" *ngIf="showBanner">
  <p class="text-center">
    Utilizamos cookies propias y de terceros para fines analíticos y para mostrarte
    publicidad personalizada en base a un perfil elaborado a partir de tus hábitos de
    navegación (por ejemplo, páginas visitadas). <a [routerLink]="['/politica-de-cookies']">Clica
      aquí</a> para más información.
    Puedes
    aceptar todas las cookies pulsando el botón “Aceptar” o configurarlas o rechazar su
    uso pulsando el botón “configurar”
  </p>
  <button class="btn btn-primary rounded-pill mb-2" (click)="acceptCookies()">ACEPTAR COOKIES</button>
  <button class="btn btn-secondary rounded-pill" (click)="configure()">CONFIGURAR</button>
</div>

<div class="modal" [ngClass]="{ 'modal-open': showModal }">
  <div class="modal-content">
    <h2>Configuración de cookies</h2>
    <p>Las cookies analíticas se utilizan
      para elaborar perfiles de navegación y poder
      conocer las preferencias de los usuarios con
      el fin de mejorar la oferta de productos y servicios.</p>
    <button class="btn btn-primary rounded-pill mb-2" (click)="acceptCookiesFromModal()">Aceptar cookies</button>
    <button class="btn btn-secondary rounded-pill" (click)="rejectCookies()">Rechazar cookies</button>
  </div>
</div>