<div class="container">
  <img src="../../assets/images/VINILO-DIVERXIA-211.5X135_page-0001-1-scaled.jpg" alt="Logo de Clinica Diverxia con el texto terapia integral" class="header">
  <div class="introduction">
    <div>
      <img src="../../assets/images/kids-drawing.jpg" alt="dos niños pequeños dibujando">
    </div>
    <div>
      <h1>Terapia integral Málaga</h1>
      <p>Logopedia</p>
      <p>Pedagogía</p>
      <p>Fisioterapia</p>
      <p>Psicopedagogía</p>
      <p>Neuropsicología</p>
      <p>Terapia ocupacional</p>
    </div>
  </div>
  <div class="mission my-4 my-sm-5">
    <div>
      <span>Nuestro objetivo</span>
      <h2 class="mt-4">La misión es dar terapia ajustada y personalizada a cada necesidad</h2>
      <p>Cada paciente es distinto y por ello entendemos las necesidades individualmente para ofrecer el mejor servicio integral.</p>
      <div class="bullet">
        <i class="bi bi-bullseye"></i>
        <div>
          <h3>1. Evaluación</h3>
          <p>Vamos a la raíz de la causa o causas para actuar directamente sobre ellas.</p>
        </div>
      </div>
      <div class="bullet">
        <div class="pink"><i class="bi bi-bullseye"></i></div>
        <div>
          <h3>2. Tratamiento y seguimiento</h3>
          <p>Aplicamos el tratamiento que se requiere y hacemos un seguimiento continuo para conseguir la mejor efectividad</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../assets/images/working-people.jpg" alt="dos niños pequeños dibujando">
    </div>
  </div>

</div>
