<div class="header">
  <!-- <img src="../../assets/images/VINILO-DIVERXIA-211.5X135_page-0001-1-scaled.jpg"
    alt="Logo de Clinica Diverxia con el texto terapia integral" class="header"> -->
</div>
<div class="container">
  <div class="introduction">
    <div>
      <img src="../../assets/images/kids-drawing.jpg" alt="dos niños pequeños dibujando">
    </div>
    <div>
      <h1>Terapia integral Málaga</h1>
      <p>Logopedia</p>
      <p>Pedagogía</p>
      <p>Fisioterapia</p>
      <p>Psicopedagogía</p>
      <p>Neuropsicología</p>
      <p>Terapia ocupacional</p>
    </div>
  </div>
  <div class="mission my-4 my-sm-5">
    <div>
      <span>Nuestro objetivo</span>
      <h2 class="mt-4">La misión es dar terapia ajustada y personalizada a cada necesidad</h2>
      <p>Cada paciente es distinto y por ello entendemos las necesidades individualmente para ofrecer el mejor servicio
        integral.</p>
      <div class="bullet">
        <i class="bi bi-bullseye"></i>
        <div>
          <h3>1. Evaluación</h3>
          <p>Vamos a la raíz de la causa o causas para actuar directamente sobre ellas.</p>
        </div>
      </div>
      <div class="bullet">
        <div class="pink"><i class="bi bi-bullseye"></i></div>
        <div>
          <h3>2. Tratamiento y seguimiento</h3>
          <p>Aplicamos el tratamiento que se requiere y hacemos un seguimiento continuo para conseguir la mejor
            efectividad</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../assets/images/working-people.jpg" alt="dos niños pequeños dibujando">
    </div>
  </div>
</div>

<div class="logos-services">
  <div class="logos">
    <div class="row justify-content-center">
      <img class="col-6 col-md-4" src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
        alt="Logo Oficial de Colegio de lopeadas de Andalucia">
      <img class="col-6 col-md-4"
        src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
        alt="Logo Oficial de la Juant de Andalucia">
      <img class="col-12 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
        alt="Logo Oficial de la Universidad de Málaga">
    </div>
  </div>
  <div class="container">
    <h2>Servicios de la clínica</h2>
    <div class="services row justify-content-center g-2">
      <div class="service col-12 col-md-6 col-lg-4 d-flex">
        <i class="bi bi-chat"></i>
        <div>
          <h4>Logopedia</h4>
          <ul>
            <li>Logopedia infantil y de adultos</li>
            <li>Terapia orofacial y miofuncional</li>
            <li>Logopedia a domicilio</li>
          </ul>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4 d-flex">
        <i class="bi bi-book"></i>
        <div>
          <h4>Pedagogía y psicopedagogía</h4>
          <ul>
            <li>Aprendizaje escolar</li>
            <li>TDAH - Dislexia - Inmadurez</li>
            <li>TEA - Hipersensibilidad - Etc</li>
          </ul>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4 d-flex">
        <fa-icon [icon]="faBrain"></fa-icon>
        <div>
          <h4>Psicología y neuropsicología</h4>
          <ul>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
          </ul>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4 d-flex">
        <fa-icon [icon]="faHandLizard"></fa-icon>
        <div>
          <h4>Fisioterapia</h4>
          <ul>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
          </ul>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4 d-flex">
        <fa-icon [icon]="faHandLizard"></fa-icon>
        <div>
          <h4>Atención Temprana</h4>
          <ul>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
          </ul>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4 d-flex">
        <fa-icon [icon]="faTruckMedical"></fa-icon>
        <div>
          <h4>Terapia ocupacional</h4>
          <ul>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
            <li>Ejemplo</li>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn">Contacta con nosotros</button>
  </div>
</div>

<div class="container information">
  <div class="row justify-content-center g-4">
    <div class="information-snippet col-12 col-md-6 col-xl-4 d-flex">
      <div class="icon">
        <fa-icon [icon]="faHandshake"></fa-icon>
      </div>
      <div>
        <h4>Primera consulta GRATIS</h4>
        <p>Como entendemos que antes de la terapia se pueden tener muchas dudas, siempre ofrecemos la primera consulta
          gratis en la
          que el paciente se queda totalmente informado sin compromiso y puede decidir lo que más le conviene para su
          futuro y su
          salud. Contacta sin ningún tipo de compromiso.</p>
      </div>
    </div>
    <div class="information-snippet col-12 col-md-6 col-xl-4 d-flex">
      <div class="icon"><i class="bi bi-chat"></i></div>
      <div>
        <h4>Información permanente</h4>
        <p>Te mantenemos informado o informada sobre la evolución del tratamiento en todo momento, así como
          recomendaciones para
          llevar a cabo en casa o el trabajo. Nos preocupan los casos tanto en la consulta como fuera de ella. Por eso
          te
          mantenemos al día de forma completa.</p>
      </div>
    </div>
    <div class="information-snippet col-12 col-md-8 col-xl-4 d-flex">
      <div class="icon">
        <fa-icon [icon]="faFlagCheckered"></fa-icon>
      </div>
      <div>
        <h4>Coordinación externa</h4>
        <p>En los casos en los que es necesario, nos coordinamos con otros profesionales para llevar una terapia
          multidisciplinar
          con éxito. Trabajamos mano a mano con centros educativos, odontólogos, cirujanos maxilofaciales, etc. Para
          tener un
          cuidado total del paciente.</p>
      </div>
    </div>
  </div>
</div>