.container {
  padding: 1rem;
}

.header {
  // border-radius: 1rem;
  background-image: url('../../assets/images/VINILO-DIVERXIA-211.5X135_page-0001-1-scaled.jpg');
  // animation: appearAnimation 2s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.introduction {
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 60px;
  }

  p {
    margin: 0;
    font-size: 20px;
  }

  div {
    max-width: 50%;
    padding: 2rem 0;
  }

  img {
    margin: 2rem auto;
    border-radius: 1rem;
    max-width: 80%;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.mission {
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    margin: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    background-color: rgb(204, 153, 85);
  }

  p {
    margin: 1rem 0;
  }

  div {
    margin: 0 auto;
  }

  img {
    margin: 2rem auto;
    border-radius: 1rem;
    max-width: 80%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }

}

.bullet {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;

  div {
    padding: 0;
    margin: 0;
  }

  i {
    margin: 1rem;
    color: rgb(215, 193, 206);
    font-size: 2rem;
  }

  h3 {
    margin: 0;
  }

}

.logos-services img {
  max-width: 300px;
  object-fit: scale-down;
}

.logos {
  background-color: white;
  // padding-bottom: .8rem;
  border-radius: 0 0 25% 25%;
}

.logos-services {
  background-color: transparent;
  background-image: linear-gradient(100deg, #212529 15%, rgba(33, 37, 41, .5) 100%), url('../../assets/images/background-doctor-crop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h2 {
    text-align: center;
  }

  i,
  fa-icon {
    padding: .8rem;
    font-size: 1.4rem;
    background-color: rgb(204, 153, 85);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2,
  .services {
    color: white;
    margin: 1rem 2rem;
  }

  h4 {
    margin-top: 0;
    margin-left: .8rem;
  }


}

.btn {
  color: white;
  font-weight: 700;
  background-color: rgb(204, 153, 85);
  padding: 1rem 3rem;
  display: block;
  margin: 3rem auto;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
  background-color: #212529;
}



.information {

  margin: 3rem auto;

  i,
  fa-icon {
    padding: .8rem;
    font-size: 2.2rem;
    background-color: rgb(215, 193, 206);
    color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  text-align: center;

}

.maps {

  text-align: center;
  margin: 3rem auto;

  iframe {
    width: 100%;
    height: 300px;
  }

  h3 {
    margin: 2rem auto;
  }

  h4 {
    margin: 1rem auto;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
  }
}

.movility {
  text-align: center;
  margin: 3rem auto;

  fa-icon {
    font-size: 3rem;
    color: rgb(204, 153, 85);
  }

  div {
    margin-top: 1rem;
  }

}

.differences {
  text-align: center;
  margin: 3rem auto;

  h2 {
    margin: 3rem auto;
  }

  a {
    text-decoration: none;
    color: rgb(136, 221, 255);
  }

  img {
    margin: 2rem auto 1rem auto;
    width: 200px;
    border-radius: 1rem;
  }

  h3 {
    margin: 3rem auto 2rem auto;
  }

}


.social {

  margin: 3rem auto;
  text-align: center;

  span {
    display: inline-block;
    margin: 2rem;
    padding: .7rem;
    border-radius: .5rem;
    color: white;
    background-color: rgb(204, 153, 85);
  }

  .icon-list {
    display: flex;
    justify-content: center;
  }

  .icon-list i {
    margin: 0 10px;
    color: white;
    background-color: rgb(215, 193, 206);
    padding: .6rem;
    font-size: 2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-list a {
    transition: all .2s ease-in-out;
    text-decoration: none;
  }

  .icon-list a:hover {
    transform: scale(1.2);
  }

}


@media (max-width: 768px) {

  .header {
    height: 500px;
  }

  .introduction {

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 16px;
    }

  }

  .mission {
    flex-direction: column;

    div {
      max-width: 100%;
      padding: 1rem 0 0 0;
    }

    img {
      padding: 0;
      margin: 0 auto;
    }

  }
}

// @keyframes appearAnimation {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }