<div class="header">
  <!-- <img src="../../assets/images/VINILO-DIVERXIA-211.5X135_page-0001-1-scaled.jpg"
    alt="Logo de Clinica Diverxia con el texto terapia integral" class="header"> -->
</div>
<div class="container">
  <div class="introduction">
    <div>
      <img src="../../assets/images/kids-drawing.jpg" alt="dos niños pequeños dibujando">
    </div>
    <div>
      <h1>Terapia integral Málaga</h1>
      <p>Logopedia</p>
      <p>Pedagogía</p>
      <p>Fisioterapia</p>
      <p>Psicopedagogía</p>
      <p>Neuropsicología</p>
      <p>Terapia ocupacional</p>
    </div>
  </div>
  <div class="mission my-4 my-sm-5">
    <div>
      <span>Nuestro objetivo</span>
      <h2 class="mt-4">La misión es dar terapia ajustada y personalizada a cada necesidad</h2>
      <p>Cada paciente es distinto y por ello entendemos las necesidades individualmente para ofrecer el mejor servicio
        integral.</p>
      <div class="bullet">
        <i class="bi bi-bullseye"></i>
        <div>
          <h3>1. Evaluación</h3>
          <p>Vamos a la raíz de la causa o causas para actuar directamente sobre ellas.</p>
        </div>
      </div>
      <div class="bullet">
        <div class="pink"><i class="bi bi-bullseye"></i></div>
        <div>
          <h3>2. Tratamiento y seguimiento</h3>
          <p>Aplicamos el tratamiento que se requiere y hacemos un seguimiento continuo para conseguir la mejor
            efectividad</p>
        </div>
      </div>
    </div>
    <div>
      <img src="../../assets/images/working-people.jpg" alt="dos niños pequeños dibujando">
    </div>
  </div>
</div>

<div class="logos-services">
  <div class="logos">
    <div class="container">
      <div class="row justify-content-center">
        <img class="col-6 col-md-4" src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
          alt="Logo Oficial de Colegio de lopeadas de Andalucia">
        <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
          alt="Logo Oficial de la Juanta de Andalucia">
        <img class="col-12 col-md-4"
          src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
          alt="Logo Oficial de la Universidad de Málaga">
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Servicios de la clínica</h2>
    <div class="services row justify-content-center g-2">
      <div class="service col-12 col-md-6 col-lg-4">
        <div class="row">
          <i class="bi bi-chat col-4"></i>
          <div class="col-8">
            <h4>Logopedia</h4>
            <ul>
              <li>Logopedia infantil y de adultos</li>
              <li>Terapia orofacial y miofuncional</li>
              <li>Logopedia a domicilio</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4">
        <div class="row">
          <i class="bi bi-book col-4"></i>
          <div class="col-8">
            <h4>Pedagogía y psicopedagogía</h4>
            <ul>
              <li>Aprendizaje escolar</li>
              <li>TDAH - Dislexia - Inmadurez</li>
              <li>TEA - Hipersensibilidad - Etc</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4">
        <div class="row">
          <fa-icon [icon]="faBrain" class="col-4"></fa-icon>
          <div class="col-8">
            <h4>Psicología y neuropsicología</h4>
            <ul>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4">
        <div class="row">
          <fa-icon [icon]="faHandLizard" class="col-4"></fa-icon>
          <div class="col-8">
            <h4>Fisioterapia</h4>
            <ul>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4">
        <div class="row">
          <fa-icon [icon]="faBaby" class="col-4"></fa-icon>
          <div class="col-8">
            <h4>Atención Temprana</h4>
            <ul>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="service col-12 col-md-6 col-lg-4">
        <div class="row">
          <fa-icon [icon]="faTruckMedical" class="col-4"></fa-icon>
          <div class="col-8">
            <h4>Terapia ocupacional</h4>
            <ul>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
              <li>Ejemplo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button class="btn" [routerLink]="['/contacto']">Contacta con nosotros</button>
  </div>
</div>

<div class="container information">
  <div class="row justify-content-center g-4">
    <div class="information-snippet col-12 col-md-6 col-xl-4 d-flex">
      <div class="icon">
        <fa-icon [icon]="faHandshake"></fa-icon>
      </div>
      <div>
        <h4>Primera consulta GRATIS</h4>
        <p>Como entendemos que antes de la terapia se pueden tener muchas dudas, siempre ofrecemos la primera consulta
          gratis en la
          que el paciente se queda totalmente informado sin compromiso y puede decidir lo que más le conviene para su
          futuro y su
          salud. Contacta sin ningún tipo de compromiso.</p>
      </div>
    </div>
    <div class="information-snippet col-12 col-md-6 col-xl-4 d-flex">
      <div class="icon"><i class="bi bi-chat"></i></div>
      <div>
        <h4>Información permanente</h4>
        <p>Te mantenemos informado o informada sobre la evolución del tratamiento en todo momento, así como
          recomendaciones para
          llevar a cabo en casa o el trabajo. Nos preocupan los casos tanto en la consulta como fuera de ella. Por eso
          te
          mantenemos al día de forma completa.</p>
      </div>
    </div>
    <div class="information-snippet col-12 col-md-8 col-xl-4 d-flex">
      <div class="icon">
        <fa-icon [icon]="faFlagCheckered"></fa-icon>
      </div>
      <div>
        <h4>Coordinación externa</h4>
        <p>En los casos en los que es necesario, nos coordinamos con otros profesionales para llevar una terapia
          multidisciplinar
          con éxito. Trabajamos mano a mano con centros educativos, odontólogos, cirujanos maxilofaciales, etc. Para
          tener un
          cuidado total del paciente.</p>
      </div>
    </div>
  </div>
</div>

<div class="maps">
  <div class="container">
    <h3>Encuentra aquí la mejor clínica integral de Málaga</h3>
    <p>Nuestros <strong>profesionales de Logopedia, psicología, pedagogía y terapia ocupacional en Málaga</strong> están
      especializados en diferentes áreas de la salud. El principal objetivo, es poder ofrecer el <strong>mejor
        servicio</strong> a
      nuestros y nuestras pacientes. Con gran profesionalidad, <strong>todos y cada uno de los casos son tratados con
        detalle</strong>
      y en profundidad para dar la mejor respuesta y terapia existente.</p>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3185.317131118494!2d-4.339449299851468!3d37.026084198577905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd726340730e0945%3A0xdf28a06592b6ecb1!2sLOGOPEDA.%20Sara%20S%C3%A1nchez%20Ortigosa!5e0!3m2!1ses!2ses!4v1676305530641!5m2!1ses!2ses"
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h4>UBICACIÓN</h4>
        <p>Calle Genil, 30</p>
        <p>Villanueva del Trabuco</p>
      </div>
      <div class="col-12 col-lg-4">
        <h4>HORARIO</h4>
        <p>Lunes a Viernes (Flexible)</p>
        <p>9:30 — 13:00 / 15:00 — 21:00</p>
      </div>
      <div class="col-12 col-lg-4">
        <h4>CONTACTO</h4>
        <p>Teléfono: 605256942</p>
        <p>hola@logopedasarasanchezortigosa.com</p>
      </div>
    </div>
    <!-- <button class="btn" [routerLink]="['/contacto']">Contáctanos</button> -->
  </div>
</div>

<div class="container movility">
  <div class="row justify-content-evenly">
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faChildReaching"></fa-icon>
      <h4>Logopeda infantil</h4>
      <p>¿Qué hace un logopeda infantil? Un logopeda infantil diagnostica, previene y realiza el tratamiento de las
        alteraciones
        y problemas del habla y del lenguaje ya sea hablado o escrito, que ocurren en la edad más temprana de los niños.
        Nuestra
        experta posee un Máster en Atención Temprana dedicado exclusivamente a ello.</p>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faUser"></fa-icon>
      <h4>Logopeda para adultos</h4>
      <p>La logopedia para adultos, se encarga de detectar, diagnosticar y prevenir los problemas de la voz, lenguaje,
        habla o de
        la deglución que pueden surgir en la etapa adulta. Es la especialidad sanitaria que se dedica a tratar estas
        dificultades en concreto de forma profesional.</p>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faLaptop"></fa-icon>
      <h4>Logopeda ONLINE</h4>
      <p>Realizamos sesiones de logopedia online para personas que no se encuentren en Málaga o alrededores, que tengan
        limitaciones en el desplazamiento, condiciones especiales o simplemente se adapte mejor a su horario. Recuerda
        que
        nuestra primera consulta es GRATIS.</p>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faHouse"></fa-icon>
      <h4>Logopeda a domicilio en Málaga</h4>
      <p>Con nuestro servicio de logopeda a domicilio, ya sean a niños o adultos podrás disfrutar de la comodidad de
        recibir a tu
        logopeda en Málaga directamente en casa. También ofrecemos la posibilidad de desplazarnos a residencias,
        guarderías,
        etc.</p>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faPersonHiking"></fa-icon>
      <h4>Servicios presencial y online</h4>
      <p>Adaptados a ti, para que consigas los objetivos que te propongas fácilmente.</p>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faTruckMedical"></fa-icon>
      <h4>Multitud de terapias</h4>
      <p>Que aportarán todo lo necesario para mejorar en la cuestión en concreto que te preocupe.</p>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <fa-icon [icon]="faMoneyCheckDollar"></fa-icon>
      <h4>Tarifas personalizadas</h4>
      <p>Contamos con packs con el fin de que ahorres en tu terapia logopédica.</p>
    </div>
  </div>
</div>

<div class="container differences">
  <h2>Clínica de terapia integral en el Norte de Málaga</h2>
  <p>Nuestra <a [routerLink]="['/quienes-somos']">consulta de terapia integral en Málaga</a> cuenta con una gran
    experiencia, fruto de impartir tratamiento en Málaga
    y sus alrededores desde hace más de 10 años a través de sus distintos profesionales.</p>
  <p>Durante todo este tiempo, han acudido a la sesiones de terapia de nuestros servicios de Logopedia, Psicopegadogía,
    Pedagogía, Fisioterapia, Terapia Ocupacional y Neuropsicología niños y adultos con diferentes patologías. Y éstas,
    han
    sido perfectamente tratadas mediante los distintas técnicas que nuestro equipo de profesionales pone a disposición
    de
    los clientes. Como ya se ha comentado, <a [routerLink]="['/quienes-somos']">Logopedia, Pedagogía, Psicopedagogía,
      Psicología y Neuropsicología online</a>, a
    domicilio o en la propia clínica.</p>
  <p>Le aseguramos que podremos ofrecerle asesoría y los mejores tratamientos posibles.</p>
  <h3>Lo que nos diferencia de las demás clínicas en Málaga</h3>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <img src="../../assets/images/office-1209640_640-1-min.jpg" alt="">
      <h5>Experiencia</h5>
      <p>Nos dedicamos al cuidado de tu salud desde hace años, por ello contamos con multitud de conocimientos y
        experiencia.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <img src="../../assets/images/medical-1006787_640-1-min.jpg" alt="">
      <h5>Innovacion</h5>
      <p>Ofrecemos terapias on-line y nos encontramos siempre a la vanguardia de nuevos tratamientos y soluciones.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <img src="../../assets/images/dentist-428645_640-1-min.jpg" alt="">
      <h5>Atención Personalizada</h5>
      <p>Nos preocupamos caso por casa de las necesidades de cada uno de nuestros pacientes.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <img src="../../assets/images/ipad-1721428_640-1-min.jpg" alt="">
      <h5>Satisfacción asegurada</h5>
      <p>Decenas de clientes totalmente satisfechos con los mejores tratamientos de logopedia en Málaga.</p>
    </div>
  </div>
</div>

<div class="container social">
  <span>REDES SOCIALES</span>
  <h2>Echa un ojo a nuestras redes sociales ;D</h2>
  <p>Pásate por nuestras redes sociales para ver qué está pasando al momento</p>
  <div class="icon-list">
    <a href="https://www.instagram.com/diverxia.terapiaintegral/" target="_blank"><i class="bi bi-instagram"></i></a>
    <a href="https://www.facebook.com/logopedasarasanchezortigosa/" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://api.whatsapp.com/send/?phone=34605256942&text&type=phone_number&app_absent=0" target="_blank"><i
        class="bi bi-whatsapp"></i></a>
  </div>
  <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>
</div>