<header>
  <div class="container">
    <h2>NEUROPSICOLOGÍA PEDIÁTRICA EN MÁLAGA Y ONLINE</h2>
    <h1>Servicios de Neuropsicología pediátrica</h1>
    <div class="separator"></div>
    <h3>Tratamientos de Neuropsicología pediátrica en Málaga, Granada y alrededores.</h3>
    <h3>La Neuropsicología pediátrica es una disciplina que se enfoca en el estudio de las alteraciones cognitivas,
      conductuales
      y emocionales en niños y adolescentes a partir de la evaluación neuropsicológica y el diseño de intervenciones
      terapéuticas específicas.
    </h3>
  </div>
</header>

<main>
  <div class="container treatments">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 img">
        <img src="../../assets/images/pexels-cottonbro-studio-5867700.jpg" alt="Pediatra tratando a una niña">
      </div>
      <div class="col-12 col-lg-6 clinic-text">
        <p>
          La neuropsicología pediátrica es una rama de la psicología que se dedica a estudiar cómo el cerebro de los
          niños influye
          en su aprendizaje y su conducta. Un neuropsicólogo pediátrico es un profesional que evalúa las funciones
          cognitivas de
          los niños, como la memoria, el lenguaje, la atención o el razonamiento.</p>
        <p>
          Estas pruebas permiten detectar
          posibles
          problemas o trastornos que afecten al desarrollo normal del niño, como por ejemplo: autismo, TDAH, dislexia,
          epilepsia o
          traumatismos craneoencefálicos. El neuropsicólogo pediátrico también puede intervenir para ayudar al niño a
          mejorar
          sus capacidades y adaptarse a su entorno.</p>
        <p>Para ello, puede ofrecer tratamientos como rehabilitación cognitiva,
          terapia
          conductual o psicoterapia. Además, el neuropsicólogo pediátrico puede colaborar con otros profesionales como
          médicos,
          educadores o familiares para brindar un apoyo integral al niño.
        </p>
      </div>
    </div>
  </div>

  <div class="content-services">
    <div class="container">
      <div class="row justify-content-around align-items-stretch">
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="content-service">
            <fa-icon [icon]="faUserDoctor"></fa-icon>
            <h4></h4>
            <h3>EVALUACIÓN Y DIAGNÓSTICO DE TRASTORNOS DEL NEURODESARROLLO</h3>
            <p>La evaluación y diagnóstico de trastornos del neurodesarrollo es un proceso integral que busca
              identificar y comprender
              las dificultades que presentan los niños y adolescentes en su desarrollo cognitivo, conductual y
              emocional. El objetivo
              es realizar una evaluación exhaustiva que permita establecer un diagnóstico preciso y desarrollar un plan
              de tratamiento
              efectivo.</p>
            <p>La evaluación suele comenzar con la recopilación de información a través de entrevistas con los padres,
              maestros y
              cuidadores, así como de observaciones clínicas y pruebas estandarizadas. Esto ayuda a identificar las
              dificultades que
              presenta el niño en diferentes áreas, como el lenguaje, la atención, la memoria y el razonamiento. Una vez
              recopilada
              esta información, se realizan pruebas neuropsicológicas específicas para evaluar el rendimiento cognitivo
              y conductual
              del niño en áreas específicas, como la atención, el lenguaje y las habilidades sociales.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="content-service">
            <fa-icon [icon]="faStethoscope"></fa-icon>
            <h4></h4>
            <h3>TRASTORNOS DEL NEURODESARROLLO COMUNES</h3>
            <p>Los trastornos del neurodesarrollo son un grupo de afecciones que afectan el desarrollo del cerebro y el
              sistema
              nervioso en niños y adolescentes. Algunos de los trastornos del neurodesarrollo más comunes incluyen el
              Trastorno del
              Espectro Autista (TEA), el Trastorno por Déficit de Atención e Hiperactividad (TDAH), el retraso global
              del desarrollo y
              el déficit intelectual. Estos trastornos pueden tener un impacto significativo en la vida de los niños y
              adolescentes,
              ya que pueden afectar su capacidad para aprender, comunicarse y socializar con los demás.</p>
          </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4">
          <div class="content-service">
            <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
            <h4></h4>
            <h3>PLAN DE TRATAMIENTO Y ATENCIÓN INDIVIDUALIZADA</h3>
            <p>Una vez que se ha realizado una evaluación completa y se ha establecido un diagnóstico, se desarrolla un
              plan de
              tratamiento y atención individualizado. Este plan puede incluir terapia cognitivo-conductual, terapia
              ocupacional,
              terapia del habla y del lenguaje, y medicación en algunos casos. El objetivo del tratamiento es ayudar al
              niño a superar
              las dificultades que enfrenta y mejorar su capacidad para aprender, comunicarse y socializar con los
              demás. El
              tratamiento también puede incluir apoyo educativo y terapia familiar, para ayudar a los padres y
              cuidadores a comprender
              y manejar las necesidades específicas del niño o adolescente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container asked-question">
      <h3>PREGUNTAS FRECUENTES</h3>
      <span>Preguntas frecuentes de los usuarios</span>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿QUÉ ES LA NEUROPSICOLOGÍA PEDIÁTRICA?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La Neuropsicología pediátrica es una rama de la Psicología que se enfoca en la evaluación, diagnóstico y
                tratamiento de
                problemas neurológicos y de desarrollo en niños y adolescentes. Esta disciplina combina conocimientos de
                la Psicología,
                la Neurología y la Pediatría para abordar una amplia gama de dificultades, incluyendo trastornos del
                aprendizaje,
                problemas de atención e hiperactividad, problemas emocionales y conductuales, y lesiones cerebrales.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿CUÁNDO DEBERÍA LLEVAR A MI HIJO A UNA CLÍNICA DE NEUROPSICOLOGÍA PEDIÁTRICA?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Si notas que tu hijo tiene dificultades para aprender o prestar atención en la escuela, o si presenta
                cambios en su
                comportamiento o estado de ánimo, podría ser útil buscar la evaluación de un neuropsicólogo pediátrico.
                También deberías
                considerar hacer una consulta si tu hijo ha sufrido una lesión cerebral o una enfermedad neurológica.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿QUÉ SUCEDE DURANTE UNA EVALUACIÓN NEUROPSICOLÓGICA?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Durante una evaluación neuropsicológica, el neuropsicólogo pediátrico llevará a cabo una serie de
                pruebas para evaluar
                el funcionamiento cognitivo y emocional del niño. Estas pruebas pueden incluir preguntas verbales,
                tareas de memoria y
                atención, y juegos o actividades que evalúen el funcionamiento ejecutivo. La duración y la naturaleza
                exacta de la
                evaluación dependerá de las necesidades individuales del paciente.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿CÓMO PUEDO AYUDAR A MI HIJO A PREPARARSE PARA UNA EVALUACIÓN NEUROPSICOLÓGICA?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Es importante hablar con tu hijo sobre lo que sucederá durante la evaluación y responder a cualquier
                pregunta que puedan
                tener. También puede ser útil practicar juegos o actividades similares a los que se utilizarán durante
                la evaluación
                para que el niño se sienta más cómodo con el proceso.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿CUÁNTO TIEMPO DURA EL TRATAMIENTO?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La duración del tratamiento depende de las necesidades individuales del paciente y del tipo de problemas
                que se estén
                tratando. En algunos casos, el tratamiento puede durar solo unas pocas sesiones, mientras que en otros
                puede ser
                necesario un tratamiento a largo plazo. El neuropsicólogo pediátrico discutirá la duración del
                tratamiento recomendado
                durante la evaluación inicial.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container contact">
    <span>CUÉNTANOS CUALQUIER DUDA QUE TENGAS</span>
    <h3>Contacta con nosotros</h3>
    <div class="separator"></div>
    <p>Esperamos haber respondido algunas de tus preguntas sobre la clínica. Si estás considerando la
      terapia, te
      animamos a que nos contactes para obtener más información sobre nuestros servicios y cómo podemos ayudarte a
      mejorar tu
      bienestar emocional y mental.</p>
    <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>

</main>