<header>
  <div class="container">
    <h2>PSICOLOGÍA EN MÁLAGA Y ONLINE</h2>
    <h1>Servicios de Psicología</h1>
    <div class="separator"></div>
    <h3>Tratamientos de Psicología en Málaga, Granada y alrededores.</h3>
    <h3>La psicología es el estudio científico de la mente y el comportamiento humanos.
    </h3>
  </div>
</header>

<main>
  <div class="container info">
    <h2 class="text-center">¿Qué tratamos en Diverxia?</h2>
    <div class="row">
      <div class="col-12 info-detail">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <img src="../../assets/images/ansiedad.png" alt="Emoticono ansiedad">
          </div>
          <div class="col-12 col-md-9">
            <h4>Ansiedad</h4>
            <p>
              La ansiedad es una afección que una vez se sufre, es cierto que puede complicarnos bastante la vida. De
              ahí que sea muy
              importante identificarla a tiempo, para poder tratarla lo antes posible.
            </p>
            <p>¿Alguna vez la has sentido? Ya sabes, esa sensación de miedo, temor e inquietud. Puede hacer que sudes,
              te sinetas inquieto o tenso, e incluso puede provocarte palpitaciones. Los trastornos de ansiedad son
              afeccines en las que la ansiedad no desaparece y puede empeorar con el
              tiempo, de ahí la importancia de tratarlos rápidamente.</p>
            <h5>Recurrir a tratamientos</h5>
            <p>Los principales tratamientos para los tratornos de ansiedad son la psicoterapia, el uso de medicación y
              llevar una vida saludable basada en una alimentación equilibrada, actividad física y pautas de sueño
              saludables.</p>
            <h5>Psicoterapia</h5>
            <p>Enseña diferentes técnicas que ayudan a las personas a gestionar lo que sienten y, lo que es muy
              importante, enfrentarse a lo que les provoca el miedo o la ansiedad.</p>
            <h5>Medicación</h5>
            <p>Dependerá de cada persona y de sus síntomas. Lo mejor es siempre recurrir a profesionales de la salud
              para que primero nos informen, y después nos aconsejen.</p>
          </div>
        </div>
      </div>
      <div class="col-12 info-detail back">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <img src="../../assets/images/estres.png" alt="Emoticono estres">
          </div>
          <div class="col-12 col-md-9">
            <h4>Estrés</h4>
            <p>
              Nuestro estilo de vida, no el de todos, pero sí el de muchos, es bastante estresante. Es decir, que
              nuestro entorno y
              como se plantea nuestro día a día no nos ayuda en exceso a vivir con más calma.
              Sin embargo, cuando ese estrés se convierte en una realidad cotidiana, modificando y perjudicando a nivel
              físico y
              mental nuestra salud, entonces es cuando realmente debemos preocuparnos.
            </p>
            <p>Todos nos hemos sentido estresados en algún momento de día. Es una reacción normal, pero si se alarga en
              el tiempo puede afectar a la salud.</p>
            <p>El primer paso es reconocer su presencia en nuestras vidas, o dicho de otra forma, admitir que lo
              sufrimos. Sólo así podremos dar el siguiente paso: buscar ayuda profesional.</p>
            <h5>¿Qué podemos hacer?</h5>
            <p>¡Cuidarse! Hacer ejercicio físico diario, intentar llevar una buena alimentación, dormir las horas
              necesarias o al menos las que precise nuestro cuerpo, son acciones que ayudan.</p>
            <h5>Otra cosa importante</h5>
            <p>Dedicar tiempo al ocio, a la distracción y a estar con los seres queridos, con personas que nos hagan
              sentir bien y tranquilas. Socializar es vital.</p>
          </div>
        </div>
      </div>
      <div class="col-12 info-detail">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <img src="../../assets/images/depresion.png" alt="Emoticono depresion">
          </div>
          <div class="col-12 col-md-9">
            <h4>Depresión</h4>
            <p>La depresión es un trastorno que se caracteriza por un bajo estado de ánimo y sentimientos de tristeza.
              Ello unido a cambios en el comportamiento, en el grado de actividad y del pensamiento.
              Cada vez más personas sufren la depresión, y es que cada vez el mundo que nos rodea se vuelve un poco más
              loco, por así
              decir.
            </p>
            <p>
              Nuestro estado de ánimo baja, y un constante sentimiento de tristeza nos invade. Comenzamos a vivir en un
              estado de
              ansiedad y “vacío” que poco a poco nos vuelve más irritables, nos frustra y nos aleja de aquello que nos
              motiva, aquello
              que nos hacía sentir bien.
            </p>
            <h5>¿Como saber si puedes estar pasando por una depresión?</h5>
            <p>Por un lado, se produce la aparición de sentimientos como la tristeza, la ansiedad o la sensación de
              "vacío".
              Sentimientos negativos, en muchos casos, de desesperanza.
            </p>
            <p>Y por otro lado, se producen sentimientos de irritabilidad, frustación o intranquilidad. Hablamos de una
              pérdida de
              interés tanto en temas nuevos como en temas que antes nos apasionaban.</p>
          </div>
        </div>
      </div>
      <div class="col-12 info-detail back">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <img src="../../assets/images/Trastornos de conducta.png" alt="Emoticono Trastornos de conducta">
          </div>
          <div class="col-12 col-md-9">
            <h4>Trastornos de conducta</h4>
            <p>Los Trastornos de la Conducta o TC son una realidad más común de lo que pensamos, y cuanto antes los
              identifiquemos
              mejor para el niñ@ que los sufre. Se diagnostica cuando el niño/a muestra un comportamiento agresivo hacia
              los demás de manera continuada,
              además, no sigue ni reglas ni normas.</p>
            <p>Es decir, duele violar reglas importantes a través de acciones como escaparse de casa, faltar a la
              escuela o ser agresivo de tal manera que cause daño a otros.</p>
            <h5>Iniciar un tratamiento</h5>
            <p>Es vital hacerlo a una edad temprana, ya que cuanto más avanzado el trastorno más díficil será trabajarlo
              y por tanto, ayudar al niño/a que los sufre.</p>
            <h5>Primeros pasos</h5>
            <p>Buscar atención médica, e iniciar una evaluación integral realizada por un profesional de la salud
              mental, es el gran primer paso.</p>
            <h5>Dato curioso</h5>
            <p>En el caso de los niños pequeños, hay tratamientos que ayudan a los padres aprender formas eficaces de
              reaccionar a l comportamiento de éste, y así fortalecer la relación entre ambas partes.</p>
          </div>
        </div>
      </div>
      <div class="col-12 info-detail">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <img src="../../assets/images/bullying.png" alt="Emoticono Bullying">
          </div>
          <div class="col-12 col-md-9">
            <h4>Bullying</h4>
            <p>Este tema da para mucho, pero vayamos poco a poco, y es que es importante saber a qué nos enfrentamos
              para encontrarle
              una solución. El Bullying o acoso es la exposición que sufre un niño/a a daños físicos y psicológicos de
              forma
              intencionada y reiterada por parte de otro, o de un grupo.</p>
            <p>Este acoso provoca en quien lo sufre una serie de trastornos psicológicos que afectan a su salud o
              incluso, en situaciones extremas, lleva a conductas autodestructivas.</p>
            <h5>Reducir la incidencia</h5>
            <p>Los profesores y los padres o tutores deben llevar a cabo medidas que impidan la aparición de nuevos
              casos de bullying</p>
            <h5>Reducir los casos</h5>
            <p>Llevar a cabo actuaciones que dificulten que el maltrato se siga produciendo, para ello una buena
              comunicación entre centro y padres es vital.</p>
            <h5>Y por último, y no menos importante</h5>
            <p>El niño/a debe recibir ayuda tanto emocional como psicológica de un experto, es decir, lo que llamamos
              "Atención a las victimas". Un proceso que varía según el paciente, su entorno, tipo de acoso..., y otros
              factores.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container asked-question">
      <h3>PREGUNTAS FRECUENTES</h3>
      <span>Preguntas frecuentes de los usuarios</span>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿QUÉ ES LA PSICOLOGÍA CLÍNICA?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La psicología clínica es la rama de la psicología que se ocupa de evaluar, diagnosticar y tratar los
                problemas
                psicológicos y emocionales que afectan a las personas en su vida cotidiana. Los psicólogos clínicos
                utilizan diferentes
                técnicas y herramientas para ayudar a sus pacientes a superar sus dificultades y mejorar su bienestar.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿POR QUÉ DEBERÍA ACUDIR A UNA CLÍNICA DE PSICOLOGÍA?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Hay muchas razones por las que alguien podría querer acudir a una clínica de psicología. Algunas
                personas buscan
                tratamiento para problemas específicos, como trastornos de ansiedad o depresión, mientras que otras
                quieren mejorar su
                bienestar mental y emocional en general. La psicoterapia puede ser una herramienta efectiva para
                enfrentar problemas
                relacionados con el trabajo, las relaciones, la familia, el estrés y muchos otros aspectos de la vida.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿QUÉ BENEFICIOS TIENE ACUDIR A UNA CLÍNICA DE PSICOLOGÍA?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Acudir a una clínica de psicología puede tener muchos beneficios para tu salud mental y física. Algunos
                de ellos son:
              </p>
              <ul>
                <li>Te permite conocer mejor tus emociones, pensamientos y conductas, así como las causas que los
                  originan.</li>
                <li>Te ayuda a desarrollar estrategias para afrontar los problemas que te generan malestar o
                  sufrimiento.</li>
                <li>Te facilita el cambio de hábitos o patrones negativos que afectan a tu autoestima, relaciones o
                  rendimiento.</li>
                <li>Te proporciona un espacio seguro y confidencial donde expresarte libremente y sentirte escuchado y
                  comprendido.</li>
                <li>Te apoya en el proceso de crecimiento personal y profesional, potenciando tus fortalezas y recursos.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿CÓMO SÉ SI NECESITO IR A UNA CLÍNICA DE PSICOLOGÍA?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                No existe una respuesta única ni definitiva para esta pregunta. Cada persona es diferente y tiene sus
                propias
                necesidades y circunstancias. Sin embargo, algunos indicadores que pueden sugerir la conveniencia de
                consultar con un
                profesional son:
              </p>
              <ul>
                <li>Experimentar síntomas como ansiedad, tristeza, irritabilidad, insomnio, falta de motivación o
                  concentración, entre
                  otros.</li>
                <li>Sentir que no puedes controlar tus emociones o impulsos, o que estos interfieren en tu vida diaria.
                </li>
                <li>Tener dificultades para relacionarte con los demás o resolver conflictos interpersonales.</li>
                <li>Atravesar situaciones estresantes o traumáticas como pérdidas, rupturas, cambios laborales o
                  familiares, etc.</li>
                <li>No sentirte satisfecho con algún aspecto de tu vida o tener dudas sobre tu identidad u orientación
                  sexual.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿QUÉ PUEDO ESPERAR DURANTE UNA SESIÓN DE TERAPIA?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Durante una sesión de terapia, puedes esperar hablar con un terapeuta altamente capacitado y acreditado.
                El terapeuta te
                escuchará de manera activa y empática, y te ayudará a explorar tus pensamientos y sentimientos para
                comprender mejor tus
                problemas. También puedes esperar que el terapeuta te brinde herramientas y técnicas efectivas para
                manejar tus
                problemas y mejorar tu bienestar mental y emocional en general.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              ¿QUÉ PUEDO ESPERAR DURANTE UNA SESIÓN DE TERAPIA?
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                El proceso de terapia puede llevar tiempo y esfuerzo, pero si estás trabajando con un terapeuta
                altamente capacitado y
                acreditado, deberías comenzar a ver resultados positivos con el tiempo. Algunas señales de que la
                terapia está
                funcionando incluyen una mayor capacidad para manejar el estrés, una mayor comprensión de tus problemas
                y un aumento de
                la satisfacción y el bienestar emocional. Si tienes dudas o preguntas en cualquier momento durante el
                proceso de
                terapia, habla con tu terapeuta para abordar tus inquietudes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container contact">
    <span>CUÉNTANOS CUALQUIER DUDA QUE TENGAS</span>
    <h3>Contacta con nosotros</h3>
    <div class="separator"></div>
    <p>Esperamos haber respondido algunas de tus preguntas sobre la clínica de psicología. Si estás considerando la
      terapia, te
      animamos a que nos contactes para obtener más información sobre nuestros servicios y cómo podemos ayudarte a
      mejorar tu
      bienestar emocional y mental.</p>
    <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>
</main>