header {

  text-align: center;
  margin: 7rem auto;

  h1 {
    font-size: 55px;
  }

  .separator {
    height: 3px;
    width: 250px;
    background-color: rgb(204, 156, 100);
    margin: 2rem auto;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
  }

}

.treatments {
  margin: 7rem auto;

  .img {
    display: flex;
    align-items: center;
  }

  img {
    border-radius: 2rem;
    box-shadow: -10px 10px 0px 0px rgba(215, 193, 206, 1);
  }

  li {
    list-style: none;
  }

  div {
    margin: 2rem auto;
  }

}

.info {
  margin: 7rem auto;

  h2 {
    font-size: 2.5rem;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    height: max-content;
    margin: 0 auto;
  }

  .info-detail {
    margin: 2rem auto;
  }

  .back {
    background-color: rgb(246, 246, 246);
    border-radius: 2rem;
  }

  div.col-md-3 {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  h4 {
    font-size: 2rem;
    color: rgb(204, 156, 100);
    margin: 1rem auto;
    text-align: center;
  }

  p {
    margin: .2rem 0;
  }

}

.content-services {
  background-color: rgb(246, 246, 246);

  .content-service {

    background-color: white;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: -10px 10px 15px 0px rgb(209, 203, 209);


    i,
    fa-icon {
      font-size: 4rem;
    }

    h4 {
      font-weight: 400;
      font-size: 20px;
    }

  }

}

.contact {
  text-align: center;
  margin: 7rem auto;

  span {
    font-weight: 400;
    font-size: 20px;
    color: rgb(204, 156, 100);
    margin-top: 5rem;
  }

  h3 {
    font-size: 55px;
  }

  .separator {
    height: 3px;
    width: 250px;
    background-color: rgb(204, 156, 100);
    margin: 2rem auto;
  }

  p {
    font-weight: 400;
    font-size: 20px;
  }

}

.asked-question {
  margin: 7rem auto;
}

.btn {
  color: white;
  font-weight: 700;
  background-color: rgb(204, 153, 85);
  padding: 1rem 3rem;
  display: block;
  margin: 3rem auto;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
  background-color: #212529;
}

.logos {

  background-color: rgb(214, 192, 205);

  .logos-container {
    background-color: white;
    border-radius: 0 0 25% 25%;
  }

  img {
    max-width: 300;
    object-fit: scale-down;
  }

}