<header>
  <div class="container">
    <h2>TERAPIA OCUPACIONAL EN MÁLAGA Y ONLINE</h2>
    <h1>Servicios de Terapia Ocupacional</h1>
    <div class="separator"></div>
    <h3>Tratamientos de Terapia Ocupacional en Málaga, Granada y alrededores.</h3>
    <h3>La Terapia ocupacional es una disciplina que ayuda a las personas a mejorar su calidad de vida y bienestar a
      través de
      la participación en actividades significativas para ellos.
    </h3>
  </div>
</header>

<main>
  <div class="container treatments">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 img">
        <img src="../../assets/images/flor.png" alt="Dos manos sosteniendo una flor">
      </div>
      <div class="col-12 col-lg-6 clinic-text">
        <p>
          La Terapia Ocupacional es una disciplina de la salud que tiene como objetivo ayudar a las personas a alcanzar
          una mejor
          calidad de vida y bienestar a través de la participación en actividades significativas y significativas para
          ellos. Los
          terapeutas ocupacionales trabajan con personas de todas las edades y capacidades para identificar y abordar
          las barreras
          que impiden su participación en actividades importantes, como el trabajo, la educación, el cuidado personal,
          las
          relaciones y el ocio.
        </p>

        <p>
          La terapia ocupacional se basa en la premisa de que la participación en actividades significativas es esencial
          para la
          salud y el bienestar de las personas. Los terapeutas ocupacionales utilizan una variedad de estrategias y
          técnicas para
          ayudar a las personas a superar las barreras que limitan su participación en actividades importantes, como la
          adaptación
          del entorno, la enseñanza de habilidades de afrontamiento, la modificación de actividades y la promoción de la
          autoeficacia y la autonomía.
        </p>
      </div>
    </div>
  </div>

  <div class="container info">
    <h3>Servicios de la clínica</h3>
    <div class="separator"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faBrain"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Estimulación Cognitiva</h4>
            <p>Es un programa con actividades temáticas que suele llevarse a cabo
              durante varias semanas con pequeños grupos, dirigido por una enfermera con la preparación adecuada, un
              terapeuta
              ocupacional y un cuidador. El objetivo es prevenir, mantener, restaurar y compensar el deterioro de las
              habilidades de
              procesamiento, las cuales en conjunto con las motoras y las de comunicaión / interacción sostienen la
              independencia
              funcional de las personas (en este caso de los adultos mayores). A través de ella, se trabajan los
              procesos cognitivos
              básicos y superiores como las funciones ejecutivas, atención, memoria, lenguaje y percepción.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faHandshake"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Evaluacion e intervencion en actividades de la vida diaria</h4>
            <p>Es un proceso que busca mejorar la independencia y el funcionamiento de las personas que tienen
              dificultades físicas,
              psíquicas, sensoriales o sociales para realizar las tareas cotidianas. La evaluación consiste en recopilar
              y analizar
              la información necesaria para comprender el desempeño de la persona en las actividades, y la intervención
              consiste en
              aplicar un tratamiento adecuado que puede incluir entrenamiento, adaptación, educación o prevención. Por
              ejemplo, en el
              caso de un paciente con ictus, la terapia ocupacional puede valorar su capacidad para realizar actividades
              básicas e
              instrumentales como vestirse, comer o manejar dinero, y proponerle ejercicios, ayudas técnicas o
              estrategias para
              mejorar su autonomía y calidad de vida.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faChildReaching"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Integración Sensorial</h4>
            <p>La integración sensorial es una terapia que estimula la organización sensorial y el proceso sensorial en
              un niño,
              capacitándolo para dar respuestas adecuadas ante los estímulos captados por los sistemas sensoriales. La
              terapia de
              integración sensorial está diseñada para ayudar a los niños que tienen dificultades de procesamiento
              sensorial,
              exponiéndolos a la estimulación sensorial de manera estructurada y repetitiva. La terapia de integración
              sensorial debe
              ser proporcionada por un terapeuta ocupacional con entrenamiento, que determina a través de una evaluación
              exhaustiva
              si el niño se beneficiará con esta terapia.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faTruckMedical"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Terapia ocupacional en salud mental, oncología y geriatría</h4>
            <p>La terapia ocupacional en <strong>
                salud
                mental
              </strong>
              previene y mantiene la salud, favorece la restauración de la función, suple los déficit invalidantes y
              valora los
              supuestos comportamentales y su significación profunda. La terapia ocupacional en
              <strong>oncología</strong> ayuda a las
              personas con
              cáncer a mejorar su calidad de vida, afrontar los efectos secundarios del tratamiento y adaptarse a los
              cambios físicos
              y emocionales. La terapia ocupacional en <strong>geriatría</strong> utiliza las actividades de cuidado
              personal y de ocio
              para
              desarrollar las capacidades de las personas mayores.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faPeopleArrows"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Participación Social</h4>
            <p>La participación social de la terapia ocupacional es el acto de involucrarse en una situación vital a
              través de la
              ocupación. La ocupación se entiende como todo lo que hacemos en el día a día, como cuidarnos, trabajar,
              jugar o
              relacionarnos con los demás. La terapia ocupacional busca mejorar la calidad de vida de las personas a
              través de la
              participación en ocupaciones, favoreciendo la inclusión social. La terapia ocupacional también facilita la
              autonomía y
              el acceso a los diversos espacios propuestos para la participación, especialmente en poblaciones
              vulnerables como niños,
              niñas y adolescentes, o adultos mayores.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-lg-3">
            <fa-icon [icon]="faHeart"></fa-icon>
          </div>
          <div class="col-12 col-lg-9">
            <h4>Neurorrehabilitación</h4>
            <p>La neurorrehabilitación de la terapia ocupacional es una disciplina que ayuda a las personas afectadas
              por una
              enfermedad del sistema nervioso a mejorar su funcionalidad y autonomía en las actividades de la vida
              diaria. Los
              terapeutas ocupacionales utilizan técnicas y métodos que previenen la enfermedad, mantienen la salud y
              favorecen la
              integración social de los pacientes. La neurorrehabilitación de la terapia ocupacional busca mejorar la
              calidad de
              vida de las personas con daño neurológico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container asked-question">
      <h3>PREGUNTAS FRECUENTES</h3>
      <span>Preguntas frecuentes de los usuarios</span>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿QUÉ ES LA TERAPIA OCUPACIONAL Y PARA QUIÉNES ES ADECUADA?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La terapia ocupacional es una disciplina de la salud que ayuda a las personas a realizar actividades
                diarias
                significativas y funcionales, a pesar de las limitaciones físicas, cognitivas o emocionales. Es adecuada
                para cualquier
                persona que tenga dificultades para realizar tareas importantes en su vida diaria, incluyendo personas
                con
                discapacidades, enfermedades crónicas, lesiones, trastornos del desarrollo, trastornos mentales y
                personas mayores.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿CUÁLES SON ALGUNOS EJEMPLOS DE PROBLEMAS QUE LA TERAPIA OCUPACIONAL PUEDE AYUDAR A TRATAR?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                La terapia ocupacional puede ayudar a tratar una amplia variedad de problemas, como la recuperación de
                lesiones,
                enfermedades neurológicas, trastornos psicológicos, trastornos del desarrollo, discapacidades físicas,
                trastornos
                sensoriales, y más. Algunos ejemplos específicos pueden incluir la rehabilitación después de un
                accidente
                cerebrovascular, la gestión del dolor crónico, el tratamiento de la ansiedad o la depresión, el
                entrenamiento en
                habilidades sociales para niños con autismo y la adaptación del hogar para personas mayores.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿CUÁL ES EL PROCESO DE EVALUACIÓN Y TRATAMIENTO EN LA TERAPIA OCUPACIONAL?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                El proceso de evaluación y tratamiento en la terapia ocupacional comienza con una evaluación completa de
                las
                habilidades, necesidades y objetivos de cada paciente. A partir de ahí, se desarrolla un plan de
                tratamiento
                individualizado que puede incluir terapia manual, entrenamiento en habilidades, adaptaciones
                ambientales, educación para
                el paciente y su familia, y más. El progreso se monitorea regularmente y se ajusta el plan de
                tratamiento según sea
                necesario.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿CÓMO PUEDO HACER UNA CITA PARA RECIBIR TERAPIA OCUPACIONAL?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Para hacer una cita, puede llamar a nuestra clínica directamente o enviar un correo electrónico. Nos
                pondremos en
                contacto con usted lo antes posible para programar una cita que se adapte a su horario y necesidades.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container contact">
    <span>CUÉNTANOS CUALQUIER DUDA QUE TENGAS</span>
    <h3>Contacta con nosotros</h3>
    <div class="separator"></div>
    <p>Esperamos haber respondido algunas de tus preguntas sobre la clínica. Si estás considerando la
      terapia, te
      animamos a que nos contactes para obtener más información sobre nuestros servicios y cómo podemos ayudarte a
      mejorar tu
      bienestar emocional y mental.</p>
    <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>
  </div>

  <div class="logos">
    <div class="logos-container">
      <div class="container">
        <div class="row justify-content-center">
          <img class="col-6 col-md-4"
            src="../../assets/images/logo-vector-colegio-oficial-de-logopedas-de-andalucía.jpg"
            alt="Logo Oficial de Colegio de lopeadas de Andalucia">
          <img class="col-6 col-md-4" src="../../assets/images/Logo-universidad-de-malaga-logopedia.jpg"
            alt="Logo Oficial de la Juanta de Andalucia">
          <img class="col-12 col-md-4"
            src="../../assets/images/junta-de-andalucia-logopeda-oo7kunc3e6d0m2qwlah0cbphyy8wwg9ldxk9nu0ow4.png"
            alt="Logo Oficial de la Universidad de Málaga">
        </div>
      </div>
    </div>
  </div>



</main>