<header>
  <div class="container">
    <h2>LOGOPEDIA EN MÁLAGA Y LOGOPEDIA ONLINE</h2>
    <h1>Servicios de Logopedia</h1>
    <div class="separator"></div>
    <h3>Tratamientos de Logopedia en Málaga, Granada y alrededores.</h3>
    <h3>Tratamientos de logopedia Online</h3>
  </div>
</header>

<main>
  <div class="container info">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faBabyCarriage"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopedia Infantil</h4>
            <p>La Logopeda en Málaga de nuestra clínica, te ayudarán a través de actividades, estímulos y juegos con una
              terapia
              enfocada absolutamente por y para los niños. A través de ello, se podrán mejorar las habilidades y
              corregir
              problemas
              del niño o niña desde un principio para su correcto desarrollo.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faPersonHalfDress"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopedia Para Adultos</h4>
            <p>Nuestra Logopeda no sólo está especializada en Atención Temprana, también ofrece servicio para adultos.
              Además, es
              experta en Terapia Orofacial y Miofuncional. Contamos con servicios para adultos con alteraciones en el
              habla, en la
              voz, trastornos del lenguaje, de la comunicación y la deglución.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faDesktop"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopedia Online</h4>
            <p>Tratamiento online para facilitar la terapia a todo tipo de personas simplemente con conexión a internet.
              De una forma
              fácil e interactiva tanto adultos como niños pueden acceder a su terapia sin dificultad por el
              desplazamiento.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faHouse"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopeda a Domicilio</h4>
            <p>Te llevamos el logopeda a casa. Ya sea por tiempo, comodidad o necesidad; existe la posibilidad de
              desplazamiento del
              profesional a la ubicación que se desee. Tú eliges entre domicilio, residencia e incluso escuelas o
              guarderías.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container treatments">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 img">
        <img src="../../assets/images/Consulta-2-1024x768.jpeg" alt="Clinica Diverxia">
      </div>
      <div class="col-12 col-lg-6 clinic-text">
        <h3>Tratamientos solicitados más comunes</h3>
        <p>Cada paciente tiene unas necesidades distintas. Las habilidades comunicativas desarrolladas de una u otra
          forma
          hacen
          que ningún caso sea igual a otro.</p>
        <p>Por tanto, tanto en el lenguaje oral como escrito podemos encontrar dificultades que se han desarrollado con
          el
          paso del
          tiempo o de nacimiento. Nuestra consulta pone a tu servicio todas nuestras técnicas para trabajar y mejorar en
          el área
          del lenguaje, la voz, el habla, etc. Los tratamientos más demandados a día de hoy son los siguientes:</p>
        <ul>
          <li>✅ Tartamudez y disfluencias</li>
          <li>✅ Dificultades de comunicación social</li>
          <li>✅ Trastornos del habla y lenguaje</li>
          <li>✅ Problemas de voz y de deglución</li>
          <li>✅ Dificultades en el lenguaje oral y escrito</li>
          <li>✅ Dificultades del habla en la primera etapa de la vida</li>
        </ul>
        <p>Nuestra clínica con servicio de logopedia en Málaga, Granada y alrededores así como online facilita el acceso
          a
          estos
          tratamientos. Además, elaboramos informes cuando se requiere o a petición de nuestros clientes.</p>
      </div>
    </div>
  </div>

  <div class="container info">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faPhone"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopedia Infantil</h4>
            <p>La Logopeda en Málaga de nuestra clínica, te ayudarán a través de actividades, estímulos y juegos con una
              terapia
              enfocada absolutamente por y para los niños. A través de ello, se podrán mejorar las habilidades y
              corregir
              problemas
              del niño o niña desde un principio para su correcto desarrollo.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faCalendarWeek"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopedia Para Adultos</h4>
            <p>Nuestra Logopeda no sólo está especializada en Atención Temprana, también ofrece servicio para adultos.
              Además, es
              experta en Terapia Orofacial y Miofuncional. Contamos con servicios para adultos con alteraciones en el
              habla, en la
              voz, trastornos del lenguaje, de la comunicación y la deglución.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-3">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
          </div>
          <div class="col-12 col-md-9">
            <h4>Logopedia Online</h4>
            <p>Tratamiento online para facilitar la terapia a todo tipo de personas simplemente con conexión a internet.
              De una forma
              fácil e interactiva tanto adultos como niños pueden acceder a su terapia sin dificultad por el
              desplazamiento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>

  <div class="container asked-question">
    <h3>PREGUNTAS FRECUENTES</h3>
    <span>Lista de las preguntas de la Logopedia en general y nuestros servicios en concreto que los clientes más nos
      hacen.</span>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿CÓMO FUNCIONA LA LOGOPEDIA EN CONSULTA?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              La forma clásica y tradicional de ejercer como logopeda. De esta manera, el
              paciente acude a la consulta para ser
              tratado. Dicha clínica cuenta con multitud de herramientas, equipo e instrumentos para llevar a cabo
              cualquier tipo de
              tratamiento necesario. Esta consulta se encuentra concretamente en Villanueva del Trabuco, Málaga.
            </p>

            <p>La consulta de Logopedia está inscrita en el registro de centros sanitarios con el NICA 55197.</p>

            <p>
              Esta consulta logopeda es un recurso perfecto para mantener sesiones presenciales justo en el centro de la
              Provincia de
              Málaga. Para ciudades y pueblos cercanos y con gran facilidad de acceso y aparcamiento. En definitiva, una
              clínica de
              logopedia totalmente equipada con las herramientas e instrumentos a la vanguardia e innovadores perfectos
              para llevar a
              cabo todos los tratamientos que se necesiten.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ¿CÓMO FUNCIONA LA LOGOPEDIA A DOMICILIO?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              El servicio de logopedia en casa está disponible en las zonas de alrededor de la
              ubicación de la consulta (como Málaga,
              Granada, Antequera y pueblos o ciudades próximas). Existe también posibilidad de desplazamiento que es en
              torno la
              propia ciudad de Málaga. No obstante; si tu ubicación no se encuentra entre estas puedes contactar con
              nosotros para
              preguntar y asegurarte.
            </p>
            <p>
              De esta forma, previa consulta gratuita en la que se valora qué tipo de tratamiento necesita el paciente
              en
              concreto, se
              acuerda una o varias sesiones a la semana en las que el tratamiento puede llevarse a cabo desde la propia
              residencia del
              paciente.
            </p>

            <p>
              Generalmente, esta opción es la preferida para personas que disponen de poco tiempo y les ayuda a ahorrar
              el
              coste de
              tiempo y dinero que se invierte en desplazamiento hasta la consulta. También, la logopedia en la propia
              vivienda es
              perfecta para personas de movilidad reducida y/o personas con diversidad funcional. E incluso, muchos de
              los
              casos
              comienzan en el domicilio para personas con determinados trastornos para que se sientan más protegidos y
              cómodos y,
              posteriormente, pasan a consulta para generar una salida cómoda de su zona de confort.
            </p>

            <p>
              Si no estás seguro o segura de si tu ubicación puede ser atendida, no dudes en <a
                [routerLink]="['/contacto']">ponerte en contacto pinchando aquí.
              </a>
              Además, aunque todo lo anteriormente explicado se ha referido a hogares, este servicio de logopedia es muy
              flexible.
              Actualmente nos encontramos atendiendo a pacientes en distintas ubicaciones ya sean viviendas, residencias
              e
              incluso nos
              desplazamos a escuelas y guarderías en los casos necesarios y específicos para niños y bebés con problemas
              de
              alimentación.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            ¿CÓMO FUNCIONA LA LOGOPEDIA ONLINE?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              La terapia online o por videoconferencia es un servicio al alza y muy bien
              valorado por los nuestros clientes.
            </p>
            <p>La logopedia online está pensada especialmente para:</p>
            <ul>
              <li>Personas con limitaciones e impedimentos físicos para moverse y/o desplazarse a los que les es más
                fácil, cómodo y
                beneficioso recibir la terapia en casa.</li>
              <li>Personas con dificultad o imposibilidad de desplazamiento geográfico. Como las que no puedan recibir
                trato en consulta o
                a domicilio.</li>
              <li>Personas que no disponen de flexibilidad horaria, que no pueden compatibilizar sus obligaciones
                diarias con las agendas
                comunes de logopedia.</li>
              <li>Personas que quieren mantener su intimidad o prefieren un contacto virtual a uno personal.</li>
              <li>Personas que necesitan asesoramiento puntual sobre una problemática en concreto, así como personas que
                requieren de una
                terapia no regular o muy espaciada entre sesiones.</li>
            </ul>
            <p>De esta forma, mediante herramientas como Skype o Google Hangouts; simplemente con un teléfono, tablet u
              ordenador
              puedes recibir tu sesión de logopedia online desde casa.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            ¿QUÉ ES LA LOGOPEDIA?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Las habilidades de comunicación se refieren a cómo escuchamos y entendemos a los demás. Además, la forma
              en que usamos
              el habla y el lenguaje para comunicarnos con los demás es fundamental. Esto puede generar dificultades de
              comunicación
              para muchas personas, y nosotros en Diverxia estamos aquí para ayudar. Esto significa que le brindamos
              posibles
              evaluaciones patológicas y tratamientos complejos. Además, brindamos a nuestro personal el asesoramiento
              de expertos
              para garantizar que cada tratamiento produzca los resultados deseados.
            </p>
            <p>Los objetivos del Logopeda dependerán de las dificultades del paciente en particular. En otras palabras,
              permitimos que
              los niños y adultos pronuncien, por ejemplo, correctamente el fonema /r/ (muy común en muchísimas personas
              en España).
              Además, desde ayudar a las víctimas de accidentes cerebrovasculares, que han sufrido un ictus por ejemplo,
              a mejorar sus
              habilidades de comunicación hasta recuperar a sus hijos en sus vidas. Ofrecemos tratamiento para la
              mayoría de los
              trastornos, como dislexia, disfonía y más.</p>
            <p>En Diverxia y otros, queremos mejorar la calidad de vida y la salud de nuestros pacientes. En otras
              palabras,
              pretendemos corregir patologías del lenguaje y procesos de comunicación. Por otro lado, la Logopedia es
              cada vez más
              visible y consolidada en la sociedad. Es importante que cada uno de nosotros se esfuerce por demostrar la
              ayuda y los
              beneficios que la profesión puede proporcionar. Desde Diverxia, ponemos a disposición de las personas una
              clínica con
              servicio de Logopedia en Málaga, Granada y alrededores.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            ¿CUÁNTO TIEMPO DURA EL TRATAMIENTO DE LOGOPEDIA?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              El tipo y la duración del tratamiento dependerán de las necesidades y capacidades del individuo. Por este
              motivo, cada
              logopeda de Málaga de nuestro equipo desarrollará un plan y enfoque individual después de una evaluación
              inicial. En
              definitiva, nos adaptamos a cada paciente y sus capacidades especiales. Normalmente no tenemos un número
              fijo de
              sesiones. A cambio, según la patología y el tratamiento, ofrecemos una o dos sesiones semanales con una
              duración de 45
              minutos.
            </p>
            <p>Los logopedas son profesionales de la salud que realizan actividades de prevención, detección, promoción,
              educación,
              gestión, evaluación, diagnóstico, tratamiento, rehabilitación, adaptación, predicción, orientación,
              asesoramiento,
              docencia e investigación en todos los campos. Comunicación. La humanidad y sus posibles cambios.</p>
            <p>Por otro lado, los logopedas también se encargan de la rehabilitación de enfermedades relacionadas con
              daño cerebral
              adquirido, ictus, esclerosis múltiple, Parkinson y Alzheimer. Además, si una persona sufre un ictus o un
              traumatismo
              craneoencefálico, un logopeda se encargará de su rehabilitación comunicativa. Además, se realizan
              intervenciones de
              atención temprana para detectar y abordar tempranamente estas dificultades. Además, se han mejorado las
              habilidades de
              las personas con trastornos del espectro autista, síndrome de Down y otros. Además, nuestros logopedas en
              Málaga
              intervienen en las funciones de succión, masticación, deglución y voz en todas las etapas de la vida. Es
              decir, los
              logopedas realizan intervenciones motrices orofaciales desde niños hasta ancianos.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            ¿CÓMO ES LA INTERVENCIÓN LOGOPÉDICA EN NUESTRA CLÍNICA DE MÁLAGA?
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              El tratamiento en nuestra clínica de logopedia en Málaga es un servicio para personas con necesidades
              especiales del
              habla y del lenguaje. Por un lado, solemos realizar una evaluación inicial para identificar posibles
              dificultades y su
              desarrollo. Luego, el terapeuta trabajará con el resto del equipo para decidir qué tratamiento es mejor
              para cada uno de
              ustedes. Además, estos tratamientos evolucionarán con el tiempo en función de lo que el individuo logre
              para optimizar
              su duración.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            ¿NECESITO UN FONIATRA PARA ADULTOS?
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              En Diverxia contamos con logopedas especialistas en patologías del adulto. También es imprescindible salir
              lo antes
              posible si hay algún tipo de choque cerebral. También es recomendable viajar cuando hay síntomas de
              enfermedades
              neurodegenerativas como el Alzheimer o el Parkinson. Por otro lado, si eres un profesional de la oratoria
              y al final del
              día estás atascado, estamos aquí para ayudarte. Finalmente, puede contactarnos si ha sufrido alguna
              dolencia desde la
              infancia, como tartamudeo o trastornos del lenguaje social.
            </p>
            <p>Sin embargo, si eres mayor de edad, las indicaciones para visitar a un logopeda son:</p>
            <ul>
              <li>Diagnósticos relacionados con nódulos, pólipos, etc.</li>
              <li>Ronquera o afonía con frecuencias inusuales. – Enfermedades neurodegenerativas diagnosticadas: ELA,
                Parkinson,
                Alzheimer, etc.</li>
              <li>Padecer algún tipo de trastorno cerebrovascular, como un ictus. – Lenguaje, vocabulario,
                concentración, aritmética,
                memoria, etc. pérdida..</li>
              <li>Dibujar alguna patología de la infancia que aún no se haya recuperado.</li>
            </ul>
            <p>Por lo tanto, cualquier adulto con tal dificultad, enfermedad o accidente debe acudir a un logopeda. En
              definitiva, los
              logopedas conseguirán mejorar la calidad de vida de todas las personas con problemas de habla, audición o
              voz. Además,
              se trabajará para mejorar las habilidades de lenguaje y comunicación de las personas con algún tipo de
              demencia. Te
              ayudamos con un centro de terapia integral, que incluye logopedia en Málaga provincia .</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            ¿NECESITAMOS MI HIJO O YO IR A UN GABINETE DE LOGOPEDAS?
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Ante una duda de este tipo, lo mejor es consultar a un profesional. En otras palabras, si le preocupa cómo
              habla su
              hijo, o si está aprendiendo nuevas palabras de manera diferente a sus compañeros, asegúrese de ver a un
              terapeuta del
              habla. Si tienes estas inquietudes, no pierdas más tiempo en contactarnos. En nuestra clínica, nuestros
              logopedas en
              Málaga te ayudarán a resolver tus dudas con una valoración inicial gratuita. Pero cada niño es un mundo, y
              cada caso
              debe estudiarse de forma específica. Generalmente, cada niño tiene varios hitos que alcanzar dependiendo
              de su edad. Sin
              embargo, cada caso es único y debe examinarse en consecuencia. Porque depende del entorno y de las
              capacidades
              individuales y del desarrollo del niño. Si tienes alguna duda, no dudes en contactar con nosotros, porque
              la primera
              sesión de logopedia es gratuita.
            </p>
            <p>Nuestro objetivo es proporcionar a cada niño la intervención de terapia del habla más adecuada posible.
              Por este motivo,
              desde que el niño nace hasta los 6 años, existe una gran cantidad de plasticidad en el cerebro que los
              logopedas pueden
              aprovechar. De esta forma, si la intervención de la educación del habla se hace de forma temprana,
              tendremos éxito.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            ¿QUÉ HACE O QUÉ VENTAJAS TIENE IR A UN LOGOPEDA?
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              La terapia del habla y el lenguaje está especialmente recomendada para personas con dificultades del
              habla, dificultades
              de comunicación, habilidades de lectura, etc. Las clases de terapia del habla a menudo pueden ayudar a
              niños y adultos
              de todas las edades y habilidades. La terapia del habla y del lenguaje también puede brindar educación,
              capacitación y
              apoyo a familiares, amigos y otros profesionales involucrados en el cuidado del cliente. En nuestra
              clínica, también
              consultamos a los pacientes y sus familias. Además, todos los logopedas de nuestra clínica de Málaga
              estarán contigo
              personalmente. En otras palabras, recibirá una atención individual y cada tratamiento se adaptará
              completamente a sus
              deseos y necesidades. En Logopedia y Más contamos con dos clínicas de logopedia en Málaga. Por un lado,
              tenemos la
              clínica de logopedia en Villa de Vallecas. Luego también abrimos otra clínica en el distrito de Vikalvaro.
              Además,
              ofrecemos logopedia a domicilio en Málaga. Puede contactarnos para conocer nuestra disponibilidad
              dependiendo de su
              comunidad. Además, puede conectar su dispositivo y participar en sesiones de terapia del habla en línea
              desde cualquier
              parte del mundo. Tenemos clientes en todo el mundo y las reuniones van bien. Por último, también acudimos
              a hospitales,
              centros de mayores, etc. Intervención logopédica presencial.
            </p>
            <p>Para contactar con nosotros, la primera opción es por teléfono y nuestra logopeda Sarah te ayudará.
              También puede
              hacerlo a través de WhatsApp al mismo teléfono o por correo electrónico. Por otro lado, también tenemos
              nuestras redes
              sociales como Facebook, Instagram, etc. Te ayudaremos lo antes posible. Si buscas un logopeda en Málaga,
              puedes acudir
              directamente a nuestra clínica en Villanueva del Trabuco.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            ¿CUÁL ES EL PRECIO DE UN LOGOPEDA EN MÁLAGA?
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Los precios de las logopedias dependen de cada método de tratamiento, por lo que el precio dependerá del
              número de
              sesiones por semana. Por lo general, ofrecemos una o dos sesiones de terapia del habla de 45 minutos por
              semana. Esto
              significa que puede insertar cada uno de nuestros cupones en función del tratamiento. Además, ofrecemos
              opciones de pago
              para que nuestros cupones quepan en cualquier bolsillo. Además, al suscribir nuestros bonos, también
              elaboramos informes
              relevantes, que están incluidos en el precio.
              Consulte nuestra página de <a [routerLink]="['/tarifas']">precios</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEleven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
            ¿CÓMO SE IMPARTEN ESTAS SESIONES DE LOGOPEDIA ENTONCES?
          </button>
        </h2>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Son muy similares a cualquier otra consulta, con la especificidad que se dan a través de los dispositivos
              electrónicos.
              La duración es la misma, entre 30 y 45 minutos, dependiendo del paciente y caso concreto.
            </p>
            <p>¿En qué consiste una terapia de logopedia completamente online?</p>
            <p>El primer paso es muy sencillo, simplemente puedes ponerte en contacto conmigo a través de cualquiera de
              los métodos que
              te dejo <a [routerLink]="['/contacto']">aquí</a></p>
            <p>Una vez quedemos en una fecha y hora concretas. Con tu ordenador, teléfono o dispositivo más cómodo
              podremos vernos y
              hablar mediante Skype u otra plataforma similar de nuestro gusto. <strong>Esta primera sesión de contacto
                es GRATUITA</strong> ya que la
              consideramos de información y acercamiento. Así, podré hacerme una idea de tu caso particular y te
              confirmaré si tu
              terapia puede ser llevada a cabo de forma online o no. No te preocupes, ¡en la gran mayoría de casos es
              posible!</p>
            <p>Además, cuando sea necesario, te avisaré con antelación sobre objetos y herramientas que necesitarás para
              hacer la
              siguiente sesión de una forma correcta. No obstante, no pienses que necesitarás objetos complicados de
              conseguir o
              caros. Más bien suelen ser comunes, como un espejo para que puedas ver los movimientos de tu cara, algún
              objeto de casa
              con una textura determinada… Siempre te lo pondré lo más fácil posible.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwelve">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
            ¿HAY ALGO MÁS QUE DEBA SABER?
          </button>
        </h2>
        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Como ves, es simple, lo demás son consecuencias lógicas de este tipo de servicio. Por ejemplo, que también
              estaremos en
              contacto por correo ya que puedo enviarte documentos con ejercicios, daros consejos si nos escribís, etc.
              Ya que la
              terapia es totalmente personalizada.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThirteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
            ALGUNOS EJEMPLOS DE TERAPIAS ONLINE YA LLEVADAS A CABO TANTO EN NIÑOS COMO EN ADULTOS
          </button>
        </h2>
        <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>Estimulación del lenguaje</li>
              <li>Retraso del habla y del lenguaje</li>
              <li>Dislalias</li>
              <li>Afasia y disartría (dificultades en habla y lenguaje tras daño cerebral)</li>
              <li>Disfonías y patologías de la voz (nódulos, pólipos, parálisis de cuerda)</li>
              <li>Control de enfermedades degenerativas</li>
              <li>Etc</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container contact">
    <span>CUÉNTANOS CUALQUIER DUDA QUE TENGAS</span>
    <h3>Contacta con nosotros</h3>
    <div class="separator"></div>
    <p>Estaremos encantados de escucharte. Recuerda que la primera consulta es totalmente gratis y no hay ningún
      tipo de
      compromiso</p>
    <button class="btn" [routerLink]="['/contacto']">Contáctanos</button>
  </div>

</main>